<!DOCTYPE html>
<html lang="en-US">
  <head>
    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <r:page:if_site_default>
      <title><r:site:name /> at West Virginia University</title>
      <link rel="canonical" href="https://<r:site:domain />">
    </r:page:if_site_default>
    <r:page:unless_site_default>
      <title><r:page:first_non_blank_attr names="alternate_name, name" /> | <r:site_name /> | West Virginia University</title>
      <link rel="canonical" href="<r:page:url />" >
    </r:page:unless_site_default>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="<r:site:data name="google_site_verification" />" />

    <meta property="og:title" content="<r:site_name /> | <r:page:first_non_blank_attr names="alternate_name, name" />" />
    <meta property="og:description" content="<r:page:meta_description />" />
    <r:set_var name="thumbnailurl">
      <r:page:slug />-thumbnail
    </r:set_var>
    <r:files:each limit="1" labels="{$thumbnailurl}" types="image" random="true">
      <meta property="og:image" content="https://<r:site:domain /><r:file:image_url size="1200x630" />" />
      <meta name="twitter:image" content="https://<r:site:domain /><r:file:image_url size="1200x630" />" />
    </r:files:each>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<r:page:url />" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<r:site_name />">
    <meta name="twitter:creator" content="<r:site:data name="twitter_handle" />">
    <meta name="twitter:title" content="<r:page:first_non_blank_attr names="alternate_name, name" />">
    <meta name="twitter:description" content="<r:page:meta_description />">

    <r:include_stylesheet name="styles" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>

  <body class="<r:page:template:name /> page--<r:page:id /> page--<r:page:slug /> <r:edit_mode_only>page--edit-mode page--hide-instructions-<r:site:data name="hide_instructions" /></r:edit_mode_only>">

    <header aria-label="masthead">
      <a class="sr-only sr-only-focusable" href="#wvu-main-content">Skip to main content</a>
      <r:if expr="{{ NOT(BLANK(is_demo_site)) }}">
        <div class="p-3 bg-danger text-white text-center">
          This is a demo site. Some of the links won’t work. To see other templates in this theme, return to the <a href="https://designsystem.sandbox.wvu.edu/themes/<r:site:data name="is_demo_site" />" class="text-white"><span class="text-capitalize"><r:site:data name="is_demo_site" /></span> theme page</a>. To see other themes, return to the <a href="https://designsystem.sandbox.wvu.edu/themes" class="text-white">themes page</a>.
        </div>
      </r:if>
      <r:partial name="components/wvu-masthead" theme="University Relations: WVU Design System" />
      <r:if v1="{$disable_primary_nav}" v2="true" op="!=">
        <r:partial name="components/wvu-nav" />
      </r:if>
      <r:if v1="{page:template:name}" v2="frontpage" op="!=">
        <r:if v1="{$breadcrumbs}" v2="1" op="!=">
          <r:partial name="components/v2/wvu-breadcrumbs" theme="University Relations: WVU Design System" />
        </r:if>
        <r:if v1="{$backpage_header}" v2="1" op="!=">
          <r:partial name="components/v2/wvu-backpage-header" theme="University Relations: WVU Design System" />
        </r:if>
      </r:if>
    </header>

    <r:comment><!-- What are layouts and <r:yield />? https://goo.gl/DFAsPv --></r:comment>
    <r:yield />

    <r:partial name="utilities/wvu-slots--site" theme="University Relations: WVU Design System" />

    <r:if value1="{$has_standard_footer}" value2="false" operator="!=">
      <r:set_var name="instanceNumber" value="1" />
      <r:partial name="components/wvu-footer" theme="University Relations: WVU Design System" />
    </r:if>

    <r:if v1="{$enable_keywords}" v2="1" op="=">
      <r:edit_mode_only>
        <div class="container py-4">
          <h2>Keywords</h2>
          <r:editable_region name="keywords" />
        </div>
      </r:edit_mode_only>
    </r:if>

    <r:comment>
      <!-- Helvetica Neue Light, Bold, & Condensed Black + Iowan Old Style, Italic, Black, & Black Italic web font from fonts.com. -->
      <!-- Valid for *.wvu.edu, *.wvutech.edu, *.potomacstatecollege.edu & localhost. -->
      <!-- Email web_services@mail.wvu.edu to get your domain added to this list. -->
    </r:comment>
    <script src="https://fast.fonts.net/jsapi/36d8cd92-7cc7-499b-b169-0eed9d670283.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.forEach%2CDocument%2CMap%2CElement.prototype.remove%2CElement.prototype.classList"></script>

    <r:include_javascript name="vendor/responsive-nav/responsive-nav, responsive-nav-dropdown--custom, vendor/twitter-fetcher/twitterFetcher_min, vendor/fontfaceobserver/fontfaceobserver, fontfaceobserver__custom" />

    <r:yield name="page_js">
      <r:content />
    </r:yield>

  </body>
</html>
