

<r:set_var name="baseComponentName" value="calendar-news" />

<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:content_for name="{$defaultComponentClasses}">py-4 wvu-bg-blend-mode-luminosity--80</r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> class="<r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>


  <div class="container">
    <div class="wvu-events">

        <div class=" py-4 row d-flex align-items-cent">


          <!--  Calendar -->
          <div class="col-md-4">
            <h2 class="wvu-bar wvu-bar--bottom wvu-shout h1 text-dark mt-2 mb-3">Calendar</h2>
         
            <div id="localist-widget-48997053" class="localist-widget"></div><script defer type="text/javascript"
            src="https://cal.wvu.edu/widget/view?schools=wvu&departments=adventure_wv&days=365&num=5&container=localist-widget-48997053&style=none&template=cleanslate-default"></script>

            <r:editable_region name="calendar-link" />
          </div>  <!--  end col-4 -->


          <!--  Hours -->
          <div class="col-md-4 mt-4 mt-md-0">
            <h2 class="wvu-bar wvu-bar--bottom wvu-shout h1 text-dark mt-2 mb-3">SRC Hours</h2>
             <ul id="4c639b0692494197a331620d403f8f8c" class="pt-3 calendar-hours wvu-calendar--single">
             </ul>
             <r:editable_region name="hours-link" />
          </div>  <!--  end col-4 -->

          <!--  News -->
          <div class="col-md-4 mt-4 mt-md-0">

            <div class="pb-2">
              <h2 class="wvu-bar wvu-bar--bottom wvu-shout h1 text-dark mt-2 mb-3">News</h2>
            </div>

          <r:blog id="47862">
          <r:articles:each limit="3">
          <article aria-labelledby="aria__article-title--<r:page:slug />" class="wvu-article">

            <div class="row no-gutters pt-2 text-light">

              <div class="col-5 pr-2">
                <a class="card-img-top" href="<r:article:path />">
                <r:page:content name="meta-thumbnail" />
                </a>
              </div>

              <div class="col-7 mt-2 mt-md-0 pl-0 pl-md-2">
                 <h3 id="aria__article-title--<r:page:slug />" class="h5 wvu-article__title"><a class="feature-story text-dark" href="<r:article:path />"><r:article:name /></a></h3>
                 <p class="author-date-rec wvu-article__meta">
                   <time class="wvu-article__date" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" /></time>
                 </p>
                 <!-- /.wvu-article__meta -->
                 <!--<p><a aria-labelledby="aria__article-title--<r:page:slug />" href="<r:article:path />" class="btn btn-secondary btn-sm">Read more</a></p>
                 <p><r:article:content name="article-description-rec" /></p>      -->
              </div>

            </div>  <!-- end row -->

            </article> <!-- /.wvu-article -->
            </r:articles:each>
            </r:blog>

            <r:editable_region name="news-link" />

          </div>  <!--  end col-4 -->

        </div>  <!--  end row -->

      </div>

    </div>

  </<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />



<r:include_javascript name="core" />

<r:content_for name="page_js">

<script type="text/javascript">
    ActiveData.Events(
        "https://calendar.wvu.edu/handlers/query.ashx?id=4e2f5d67326443baad45942ddd30ce90&tenant=&site=campusrecreation",
        function (response) {$("#cb29229c8889408cb79afd67a0955241").append(response.data);}
    );
</script>

</r:content_for>