<nav class="navbar navbar-expand-lg p-0 navbar-dark bg-dark d-table w-100">
  <div class="container">
    <button id="nav-toggle" class="wvu-nav__button nav-toggle">
      <img class="wvu-nav__menu-icon" src="https://static.wvu.edu/global/images/icons/wvu/hamburger-menu--1.0.0.svg" alt="" />
      Open Menu
    </button>
    <div class="wvu-nav nav-collapse ml-lg-n1" id="wvu-nav">
      <!-- <r:site_menu max_depth="1" ul_class="wvu-nav__items menu-items navbar-nav mr-auto" link_class="nav-link px-2 px-lg-1" /> -->

      <ul class="center-comp large-nav wvu-nav__items menu-items navbar-nav mr-auto">

        <li class="nav-top nav-border glow position-static text-light">

          <a class="helvetica-neue-bold text-left bottom-border-1 mx-0 mx-lg-2 text-light text-decoration-none nav-link nav-main" href="#" id="navbarDropdownMenu-home" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HOME
          </a>
        
        </li>

        <li class="nav-top nav-border dropdown glow position-static text-light">

          <a class="helvetica-neue-bold text-left bottom-border-1 mx-0 mx-lg-2 text-light text-decoration-none nav-link nav-main" href="#" id="navbarDropdownMenu-about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT
          </a>

            <div class="dropdown-box-rec">
              <div class="dropdown-about lead dropdown-menu-rec dropdown-menu mega-menu gray-bg pb-3 pr-lg-2 pl-lg-3" aria-labelledby="navbarDropdownMenu-about">

                  <!-- About Us -->
                  <div class="pl-0 pr-0 sub-menu hide-mobile">

                    <a class="text-light" href="https://cleanslate.wvu.edu/sites/1387/pages/107559" data-page-id="107559">
                      <r:get_page id="107559">
  	  	                <r:page:content name="nav-image-about-us" />
  	                   </r:get_page>
                    </a>

                    <r:get_page id="107559">
                      <r:sub_menu ul_class="rec-ul menu mega-nav list-unstyled pl-0" link_class="pl-3 pl-md-2 pl-lg-1 nav-item-mega glow some-a-class text-white" active_class="active" open_class="open" max_depth="2" has_children_class="" sub_ul_class="" include_link_ids="false" />
                    </r:get_page>

                  </div>  <!-- end col -->

                </div>  <!-- end dropdown-menu-->
              </div>  <!-- end container-->

        </li>

        <li class="nav-top nav-border dropdown glow position-static text-light">

          <a class="helvetica-neue-bold text-left bottom-border-1 mx-0 mx-lg-2 text-light text-decoration-none nav-link nav-main" href="#" id="navbarDropdownMenu-fyt" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FIRST-YEAR TRIPS
          </a>

            <div class="dropdown-box-rec">
              <div class="lead dropdown-menu-rec dropdown-menu mega-menu gray-bg pb-3 pr-lg-2 pl-lg-3" aria-labelledby="navbarDropdownMenu-fyt">

                  <!-- About Us -->
                  <div class="col-4 pl-0 pr-0 pr-md-1 sub-menu hide-mobile">

                    <a class="text-light" href="https://cleanslate.wvu.edu/sites/1387/pages/107566" data-page-id="107566">
                      <r:get_page id="107566">
  	  	                <r:page:content name="nav-image-about-us" />
  	                   </r:get_page>
                    </a>

                    <r:get_page id="107566">
                      <r:sub_menu ul_class="rec-ul menu mega-nav list-unstyled pl-0" link_class="pl-3 pl-md-2 pl-lg-1 nav-item-mega glow some-a-class text-white" active_class="active" open_class="open" max_depth="2" has_children_class="" sub_ul_class="" include_link_ids="false" />
                    </r:get_page>

                  </div>  <!-- end col -->

                </div>  <!-- end dropdown-menu-->
              </div>  <!-- end container-->
              
        </li>

        <li class="nav-top nav-border dropdown glow position-static text-light">

          <a class="helvetica-neue-bold text-left bottom-border-1 mx-0 mx-lg-2 text-light text-decoration-none nav-link nav-main" href="#" id="navbarDropdownMenu-programs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROGRAMS
          </a>

            <div class="dropdown-box-rec">
              <div class="dropdown-about lead dropdown-menu-rec dropdown-menu mega-menu gray-bg pb-3 pr-lg-2 pl-lg-3" aria-labelledby="navbarDropdownMenu-programs">

                  <!-- About Us -->
                  <div class="col-4 pl-0 pr-0 pr-md-1 sub-menu hide-mobile">

                    <a class="text-light" href="https://cleanslate.wvu.edu/sites/1387/pages/116812" data-page-id="116812">
                      <r:get_page id="116812">
  	  	                <r:page:content name="nav-image-about-us" />
  	                   </r:get_page>
                      <h2 class="h5 mr-lg-1 mr-0 pl-md-2 pl-3 pl-lg-1 glow2 glow mb-0 sub-title font-weight-bold white-text">About Us</h2>
                    </a>

                    <r:get_page id="116812">
                      <r:sub_menu ul_class="rec-ul menu mega-nav list-unstyled pl-0" link_class="pl-3 pl-md-2 pl-lg-1 nav-item-mega glow some-a-class text-white" active_class="active" open_class="open" max_depth="2" has_children_class="" sub_ul_class="" include_link_ids="false" />
                    </r:get_page>

                  </div>  <!-- end col -->

                </div>  <!-- end dropdown-menu-->
              </div>  <!-- end container-->
              
        </li>

        <li class="nav-top nav-border dropdown glow position-static text-light">

          <a class="helvetica-neue-bold text-left bottom-border-1 mx-0 mx-lg-2 text-light text-decoration-none nav-link nav-main" href="#" id="navbarDropdownMenu-resources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            RESOURCES
          </a>

            <div class="dropdown-box-rec">
              <div class="dropdown-about lead dropdown-menu-rec dropdown-menu mega-menu gray-bg pb-3 pr-lg-2 pl-lg-3" aria-labelledby="navbarDropdownMenu-resources">

                  <!-- About Us -->
                  <div class="col-4 pl-0 pr-0 pr-md-1 sub-menu hide-mobile">

                    <a class="text-light" href="https://cleanslate.wvu.edu/sites/1387/pages/107575" data-page-id="107575">
                      <r:get_page id="107575">
  	  	                <r:page:content name="nav-image-about-us" />
  	                   </r:get_page>
                    </a>

                    <r:get_page id="107575">
                      <r:sub_menu ul_class="rec-ul menu mega-nav list-unstyled pl-0" link_class="pl-3 pl-md-2 pl-lg-1 nav-item-mega glow some-a-class text-white" active_class="active" open_class="open" max_depth="2" has_children_class="" sub_ul_class="" include_link_ids="false" />
                    </r:get_page>

                  </div>  <!-- end col -->

                </div>  <!-- end dropdown-menu-->
              </div>  <!-- end container-->
              
        </li>

        <li class="nav-top nav-border dropdown glow position-static text-light">

          <a class="helvetica-neue-bold text-left bottom-border-1 mx-0 mx-lg-2 text-light text-decoration-none nav-link nav-main" href="#" id="navbarDropdownMenu-leadership" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LEADERSHIP AND EMPLOYMENT
          </a>

            <div class="dropdown-box-rec">
              <div class="dropdown-about lead dropdown-menu-rec dropdown-menu mega-menu gray-bg pb-3 pr-lg-2 pl-lg-3" aria-labelledby="navbarDropdownMenu-leadership">

                  <!-- About Us -->
                  <div class="col-4 pl-0 pr-0 pr-md-1 sub-menu hide-mobile">

                    <a class="text-light" href="https://cleanslate.wvu.edu/sites/1387/pages/107579" data-page-id="107579">
                      <r:get_page id="107579">
  	  	                <r:page:content name="nav-image-about-us" />
  	                   </r:get_page>
                    </a>

                    <r:get_page id="107559">
                      <r:sub_menu ul_class="rec-ul menu mega-nav list-unstyled pl-0" link_class="pl-3 pl-md-2 pl-lg-1 nav-item-mega glow some-a-class text-white" active_class="active" open_class="open" max_depth="2" has_children_class="" sub_ul_class="" include_link_ids="false" />
                    </r:get_page>

                  </div>  <!-- end col -->

                </div>  <!-- end dropdown-menu-->
              </div>  <!-- end container-->
              
        </li>

          </ul>

    </div> <!-- /.nav-collapse -->
    <button class="bg-transparent border-0 fas fa-search text-white py-2 px-2 py-lg-0 px-lg-0" type="button" data-toggle="collapse" data-target="#wvuNavSearchCollapse" aria-expanded="false" aria-controls="wvuNavSearchCollapse"><span class="sr-only">Toggle Search</span></button>
  </div> <!-- /.container -->
</nav>
<!-- <section aria-label="nav-quicklinks" class="collapse multi-collapse" id="wvuNavSearchCollapse">
  <div class="bg-light py-4 w-100 text-white bg-wvu-neutral--black wvu-bg-vignetting--20">
    <div class="container wvu-z-index-content">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <form class="form-inline w-100" action="https://search.wvu.edu/search" method="get" role="search" aria-label="Site Search">
                <label id="search-label" for="q">
                  <span class="sr-only">Search</span>
                </label>
                <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
                <input id="output" name="output" type="hidden" value="xml_no_dtd" />
                <input id="ie" name="ie" type="hidden" value="UTF-8" />
                <input id="oe" name="oe" type="hidden" value="UTF-8" />
                <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
                <input id="client" name="client" type="hidden" value="default_frontend" />
                <div class="input-group shadow-sm w-100">
                  <input id="q" class="form-control p-2" name="q" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-primary px-3 px-lg-4" name="btnG" type="submit"><span class="fas fa-search h5 mb-0"><span class="sr-only">Search</span></span></button>
                  </div>
                </div>
                <div class="row pt-1">
                  <fieldset class="col-12">
                    <legend class="sr-only">
                      Would you like to search this site specifically, or all WVU websites?
                    </legend>
                    <div class="d-inline-block pr-2">
                      <input id="form-search__sitesearch" type="radio" name="as_sitesearch" value="<r:site:domain />" checked="checked" />
                      <label class="d-inline-block" for="form-search__sitesearch">Search this site</label>
                    </div>
                    <div class="d-inline-block">
                      <input id="form-search__wvusearch" type="radio" name="as_sitesearch" value="wvu.edu" />
                      <label class="d-inline-block" for="form-search__wvusearch">Search WVU</label>
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
          </div>
          <r:page:if_has_content_for region="search-content" always_show_in_edit_mode="true">
            <div class="mt-4">
              <r:editable_region name="search-content" scope="site" />
            </div>
          </r:page:if_has_content_for>
        </div>
      </div>
    </div>
  </div>
</section> -->
