  <section aria-label="facility contact information and location" class="gray-topo">
    <div class="container pr-0">

      <div class="row">
        <div class="col-12 my-auto  col-md-6 py-5 py-md-4">

          <div class="row">

            <div class="col-12 col-md-6 col-lg-6 mb-3 mb-lg-0 facility-address">
              <h2 id="action-hero-card-3-label" class="mb-3 wvu-shout h1">
                <r:editable_region name="contact-headline">Action Hero Card Headline</r:editable_region></h2>
                <r:editable_region name="contact-subheading">304-293-4611<br>
                CEH@gmail.com</r:editable_region>
            </div>

            <div class="col-12 col-md-6 col-lg-6 mt-3 mt-md-0 facility-address">
              <h2 class="mb-3 wvu-shout h1">
              <r:editable_region name="address-headline">Action Hero Card Headline</r:editable_region></h2>
              <address>
                <r:editable_region name="address-subheading">201 Woodburn hall<br>
                PO Box 4<br>Morgantown, WV 26505
                <a href="#" class="btn btn-primary">Get Directions</a>
                </r:editable_region>
              </address>
            </div>

          </div>
        </div> <!-- end col-12 -->

        <div class="col-12 col-md-6 map-facility" id="map">
        </div>   <!-- end col-12 -->

      </div>    <!-- end row  -->

    </div>
  </section>



  <r:content_for name="page_js">


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>


    <script>

    var map = L.map('map', {
      center: [<r:page:data name="leafletLatLong" />],
      zoom: <r:page:data name="leafletZoom" />,
      scrollWheelZoom: false
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicnBhdHRvbiIsImEiOiJjanlodnJtbzgwMm43M250MXd5eW02enYxIn0.Ys_G9mcwyoo8TAkrl-vyBQ', {
    attribution: 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/light-v10',
    tileSize: 512,
    zoomOffset: -1
    }).addTo(map);


    var MyIcon = L.Icon.extend({
    		options: {
    			iconSize:     [100, 100],
    		}
    	});

    	var rec = new MyIcon({iconUrl: 'https://campusrecreationv2.sandbox.wvu.edu/files/d/81d46cac-6623-4626-a47f-9e32344a0c8b/src.png'}),
    		hsfields = new MyIcon({iconUrl: 'https://campusrecreationv2.sandbox.wvu.edu/files/d/976d56b7-c5ed-47c4-a71e-c5b39ef449b3/hsc-.png'}),
    		emoore = new MyIcon({iconUrl: 'https://campusrecreationv2.sandbox.wvu.edu/files/d/7eadc414-6a38-4480-ba1b-5acdfc3574c4/emoore.png'}),
        mylan = new MyIcon({iconUrl: 'https://campusrecreationv2.sandbox.wvu.edu/files/d/5e0d05bb-63e5-4973-bfde-a5ee9a566fc5/mylan.png'}),
        evans = new MyIcon({iconUrl: 'https://campusrecreationv2.sandbox.wvu.edu/files/d/134bcf19-e227-4908-8762-5ed0b35ce71f/evansdale-01.png'}),
        craft = new MyIcon({iconUrl: 'https://campusrecreationv2.sandbox.wvu.edu/files/d/0468dab3-bb0d-446f-8cd1-e60925300c7e/craft-center.png'});

    	L.marker([39.648189, -79.971027], {icon: rec}).addTo(map);
    	L.marker([39.657162, -79.959289], {icon: hsfields}).addTo(map);
    	L.marker([39.635076, -79.955300], {icon: emoore}).addTo(map);
      L.marker([39.637318, -80.030913], {icon: mylan}).addTo(map);
      L.marker([39.648786, -79.968643], {icon: evans}).addTo(map);
      L.marker([39.648425, -79.966363], {icon: craft}).addTo(map);

  </script>

  </r:content_for>


  <style>


  table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
    }

  table {
    background-color: white;
    margin-top:15px;
    margin-bottom:25px;
    }


  </style>
