<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="rental-product-component" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">text-dark</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">display-3 wvu-shout</r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> class="<r:if v1="{$componentIsEditModeOnly}" v2="1" op="=">d-none </r:if> position-relative py-5 wvu-background-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <div class="container wvu-z-index-content">
    <div class="row justify-content-center my-5">

      <div class="col-md-4 pb-3 ">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:comment><!-- Editable region for main content. --></r:comment>
        
        <div class="p-3">
        <r:editable_region name="product-image" scope="{$componentScope}">

          <img class="shadow" src="<r:page:data name="thumbnail_url" />" alt="thumbnail_alt" />

        </r:editable_region>
      </div>
      </div>

      <div class="col-md-8 pb-3">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:comment><!-- Editable region for main content. --></r:comment>
        
        <div class="p-3 text-center">
        <r:editable_region name="product-description" scope="{$componentScope}">
          <h2 id="rental-product-title" class="text-center">Header or Product Title</h2>
            <p class="h3 mb-3 helvetica-neue-light text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-primary mb-1 text-center">Call to Action</a>
          
        </r:editable_region>
        </div>
      </div>


      <div class="col-12 mt-2 ">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:comment><!-- Editable region for main content. --></r:comment>
        
        <div class="bg-wvu-blue text-white p-3">
        <r:editable_region name="Rates" scope="{$componentScope}">
          <div class="row row-no-gutters">
            <div class="col-md-3">
              <div class="col-md-4">Rates</div>
            </div>
            <div class="col-md-9">
              <div class="row row-no-gutters">
                <div class="col-md-3">Single-Day</div>
                <div class="col-md-3">Two-Day</div>
                <div class="col-md-3">Weekend</div>
                <div class="col-md-3">Week</div>
              </div>
            </div>
          </div>
        </r:editable_region>
        </div>
      </div>



    </div>
  </div>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
