<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>
<r:set_var name="componentIsUsed" value="1" />
<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="splitscreen-photo-left" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">wvu-bg-position-spacer-md-top wvu-bg-position-center-left--70 wvu-bg-position-xl-center-right--80</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">wvu-shout display-3 text-wvu-accent--burnt-orange</r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> class="<r:if v1="{$componentIsEditModeOnly}" v2="1" op="=">d-none </r:if>">
  <div class="position-relative wvu-z-index-content">
    <div class="row">
      <r:comment><!-- If component alignment is set to “right” then put some empty space before the main content. --></r:comment>
      <r:if v1="{$componentAlign}" v2="right" op="=">
        <div class="col-md-6 wvu-bg-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>

        </div>
      </r:if>

      <div class="col-md-6 mr-auto bg-light py-5 wvu-z-index-content<r:if v1="{$componentAlign}" v2="right" op="!="> text-right</r:if>">
        <r:comment><!-- This is where you can add utility classes that will apply to the hero’s heading. --></r:comment>
        <r:edit_mode_only>
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
          </small>
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <span class="d-inline-block badge badge-primary mb-1">Header</span>
        </r:edit_mode_only>
       
       
        <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also add different classes depending on how the component alignment is set. --></r:comment>
        <h2 id="<r:var name="componentName" />-label" class="p-4 bg-light <r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for>"><r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region></h2>
        <r:comment><!-- Apply different classes to the element based on the component’s alignment. --></r:comment>
        <div class="<r:if v1="{$componentAlign}" v2="right" op="!=">p-4</r:if><r:if v1="{$componentAlign}" v2="right" op="=">p-4</r:if>">
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main Content</span></r:edit_mode_only>
          <r:comment><!-- Editable region for main content. --></r:comment>
          <r:editable_region name="{$componentMain}" scope="{$componentScope}">
            <p class="iowan-old-style-italic text-wvu-blue h1">Center for Cool Innovation</p>
            <p class="lead mb-4">For even more hands-on experience and to improve the oral health of children
              and adults across the state, School of Dentistry students must accumulate
              125 hours or more of community engagement work prior to graduation.</p>
            <a href="#" class="btn btn-primary">Action Item</a>
          </r:editable_region>
        </div>
      </div>
      <r:comment><!-- If component alignment is set to “right” then put some empty space after the main content. --></r:comment>
      <r:if v1="{$componentAlign}" v2="right" op="!=">
        <div class="col-md-6 wvu-bg-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>

        </div>
      </r:if>
    </div>
  </div>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
