<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="footer" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><footer class="<r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
<div class="bg-wvu-blue py-4 text-white">  
  <div class="container">
    <div class="row row-no-gutters">
      <div class="col-3">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Address</span></r:edit_mode_only>
        <r:editable_region name="{$componentMain}" scope="site">
          <address class="mb-4">
            <p>
              <strong>Organization Name</strong><br>
              Address Line 1<br>
              Address Line 2<br>
            </p>
            <p>
              <a class="fas fa-phone text-white" href="tel:3041234567">(304) 123-4567</a><br>
              <a class="fas fa-envelope text-white" href="mailto:email@mail.wvu.edu">email@mail.wvu.edu</a>
            </p>
          </address>
        </r:editable_region>
      </div>
      <div class="col-9">
        <p style="margin-top: 1em; font-size:1.5em;" class="iowan-old-style-black-italic text-left display-5">Quicklinks</p>
        
          <r:editable_region name="footer-site-map" scope="site">
            <div class="row row-no-gutters">
            <div class="col-4">
              <p>About</p>
            </div>
            <div class="col-4">
              Find Your Fit
            </div>
            <div class="col-4">
              Quicklinks
            </div>
          
          </div>
        </r:editable_region>

      </div>

    </div> <!-- /.wvu-contact -->
  </div>
</div>
<div class="bg-canvas py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://about.wvu.edu/wvu-facts"><small class="d-block">Accreditations</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://webstandards.wvu.edu"><small class="d-block">Web Standards</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.wvu.edu/privacy"><small class="d-block">Privacy Notice</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="mailto:web_services@mail.wvu.edu"><small class="d-block">Questions or Comments?</small></a></li>
        </ul>
        <p>
          <small class="d-block">&copy; <r:date_format format="%Y" value="now" /> <a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.wvu.edu/">West Virginia University</a>. WVU is an EEO/Affirmative Action employer &mdash; Minority/Female/Disability/Veteran.
          <span class="wvu-credits__last-edited">Last updated on <r:date_format format="%B %-d, %Y" value="{page:updated_at}" />.</small></span>
        </p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-unstyled mb-0">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.wvu.edu/SiteIndex/"><small class="d-block">A-Z Site Index</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://campusmap.wvu.edu"><small class="d-block">Campus Map</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://careers.wvu.edu/career-opportunities"><small class="d-block">WVU Careers</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://directory.wvu.edu"><small class="d-block">WVU Directory</small></a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://give.wvu.edu/"><small class="d-block">Give</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://careerservices.wvu.edu/students/handshake-login"><small class="d-block">Handshake</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://alert.wvu.edu/"><small class="d-block">WVU Alert</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://wvutoday.wvu.edu"><small class="d-block">WVU Today</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://portal.wvu.edu"><small class="d-block">WVU Portal</small></a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.facebook.com/wvumountaineers"><small class="d-block"><span class="fab fa-facebook-square h5"></span><span class="sr-only">WVU on Facebook</span></small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.instagram.com/westvirginiau/"><small class="d-block"><span class="fab fa-instagram h5"></span><span class="sr-only">WVU on Instagram</span></small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://twitter.com/WestVirginiaU"><small class="d-block"><span class="fab fa-twitter-square h5"></span><span class="sr-only">WVU on Twitter</span></small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.youtube.com/user/westvirginiau"><small class="d-block"><span class="fab fa-youtube-square h5"></span><span class="sr-only">WVU on YouTube</span></small></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
