<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="profiles" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-profiles-<r:var name="componentInstance" />__header</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">py-5</r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if_true value="{$componentIsMain}">id="wvu-main-content"</r:if_true> class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true> <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <div class="container wvu-z-index-content">
    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="mb-4">
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Header</span></r:edit_mode_only>
        <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. --></r:comment>
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 id="<r:var name="componentName" />-label" class="display-3 wvu-shout">Profiles Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>
   
    <div class=" ">
      <div class="col-md-12 mx-auto grid-three-column">
        <r:root>
          <r:comment><!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
            and $loopOrder to: "asc" or "desc";
            and $loopLabelsMatch to: "any", "all", or "none". --></r:comment>
          <r:descendants:each by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}">
            <div class="profile-card mb-3 pt-4 pb-4">
              <div class="col-md-12 mr-ml-auto mb-2 text-center">
                <r:if_not_blank value="{$thumbnail_url_sq}">
                  <img class="rounded-circle shadow text-center" src="<r:page:data name="thumbnail_url_sq" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url_sq" />/960x640.jpg 960w, <r:page:data name="thumbnail_url_sq" />/586x286.jpg 586w, <r:page:data name="thumbnail_url_sq" />/381x255.jpg 381w, <r:page:data name="thumbnail_url_sq" />/286x191.jpg 281w, <r:page:data name="thumbnail_url_sq" />/279x186.jpg, <r:page:data name="thumbnail_url_sq" />/217x145.jpg" sizes="(min-width: 1200px) 279px, (min-width: 768px) 586px, 960px" alt="<r:page:data name="thumbnail_alt" />">
                </r:if_not_blank>
              </div>
              <div class="col-md-12  text-center">
                <h2 class="iowan-old-style-italic mb-0"><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
                <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
                <r:page:if_has_content_for region="wvu-backpage-header-1__subhead">
                  <p class="helvetica-neue-light">
                    <small class="d-block"><r:page:content name="wvu-backpage-header-1__subhead" /></small>
                  </p>
                </r:page:if_has_content_for>
                <r:page:if_has_content_for region="wvu-profile-1__phone">
                  <p class="mb-0">
                    <small class="d-block">
                      <a href="tel:<r:page:content name="wvu-profile-1__phone" />" class="fas profile-contact-font fa-phone"> <r:page:content name="wvu-profile-1__phone" /></a>
                    </small>
                  </p>
                </r:page:if_has_content_for>
                <r:page:if_has_content_for region="wvu-profile-1__email">
                  <p class="mb-0">
                    <small class="d-block">
                      <a href="mailto:<r:page:content name="wvu-profile-1__email" />" class="fas profile-contact-font fa-envelope"> <r:page:content name="wvu-profile-1__email" /></a>
                    </small>
                  </p>
                </r:page:if_has_content_for>
                <r:page:if_has_content_for region="wvu-profile-1__office">
                  <p class="mb-0">
                    <small class="d-block">
                      <r:page:if_has_content_for region="wvu-profile-1__office-url">
                        <a href="tel:<r:page:content name="wvu-profile-1__office-url" />" class="fas profile-contact-font fa-building"> <r:page:content name="wvu-profile-1__office" /></a>
                      </r:page:if_has_content_for>
                      <r:page:unless_has_content_for region="wvu-profile-1__office-url">
                        <span class="fas fa-building"> <r:page:content name="wvu-profile-1__office" /></span>
                      </r:page:unless_has_content_for>
                    </small>
                  </p>
                </r:page:if_has_content_for>
                <p class="mt-2">
                  <r:if_not_blank value="{$description}"><r:page:data name="description" /></r:if_not_blank>
                </p>
                <p class="mb-0 mt-2">
                  <a class="btn btn-primary btn-sm" href="<r:if_then_else test="{{ NOT(BLANK(alternate_url)) }}" then="{$alternate_url}" else="{page:url}" />">View Profile<span class="sr-only">: <r:page:name /></span></a>
                </p>
              </div>
            </div>
          </r:descendants:each>
        </r:root>
      </div>
    </div>
  </div>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
