<section aria-labelledby="featurettes-quote-1-label" class="
  py-5 bg-wvu-blue text-white text-center wvu-bg-vignetting--50 wvu-bg-pattern-blue
">
  <div class="container wvu-z-index-content">
      <div class="wvu-z-index-content">
        <r:editable_region name="featurettes-quote-1-headline" >
        <h2 id="featurettes-quote-1-label" class="display-3 wvu-shout">Featurettes Headline</h2>
          <p class="h3 helvetica-neue-light mb-4">Subhead goes here.</p>
        </r:editable_region>
      </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 mx-sm-auto mb-3 mb-md-0">
          <r:editable_region name="featurettes-quote-1-content" >
          <div class="mt-3">
            <p class="wvu-quote iowan-old-style h4">
              Data-point. Who's responsible for the ask for this request? touch base accountable talk for knowledge is power and marketing computer development html roi feedback team website pushback.
            </p>
              <div class="mb-1">
                <a title="More InfoRead More: Example Profile A" href="https://designsystem.wvu.edu/example-content/example-profile-a"><img class="rounded-circle shadow text-center w-25" src="/files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//381x255.jpg" srcset="/files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//960x640.jpg 960w, /files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//586x286.jpg 586w, /files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//381x255.jpg 381w, /files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//286x191.jpg 281w, /files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//279x186.jpg, /files/d8abcdc3-6ee0-43e7-9c53-e8d0018fec19//217x145.jpg" sizes="(min-width: 1200px) 279px, (min-width: 768px) 586px, 960px" alt="Placeholder"></a>
              </div>
            <h2 class="helvetica-neue-light mb-0 h5">Example Profile A</h2>
              <p>
                <small class="d-block ">Job Title</small>
              </p>
          </div>
          </r:editable_region>
        </div>
    </div>
      <div class="mt-4 wvu-z-index-content mb-2">
        <r:editable_region name="featurettes-quote-1-post-script" >
          <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
        </r:editable_region>
      </div>
  </div>
</section>