<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="tile" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />


<r:set_var name="defaultEditTileClasses">
  tile-two-column
</r:set_var>

<r:set_var name="defaultComponentItemClasses">
  wvu-bg-position-center wvu-bg-size-cover
</r:set_var>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<!-- Variable used to create unique ids for each tile -->
<r:set_var name="bgPrefix">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var> 

<!-- Name for the edit section for this component -->
<r:set_var name="componentSpecificName">
  <r:var name="componentName" />-<r:var name="componentInstance" />
</r:set_var>



<!-- //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////// -->



<!-- componentSpecificName -->
<div class="grid-tiles  <r:partial name="utilities/wvu-component-classes-checker-grid" theme="University Relations: WVU Design System" />" >
  <r:comment><!-- Grab all of the items in the loop. --></r:comment>
  <r:loop:each times="{$componentLimit}">

    <r:comment><!-- Variables specific for each loop --></r:comment>

    <r:set_var name="bgTileLabel">
      <r:page:slug />-<r:var name="componentName" />-background-<r:index />
    </r:set_var>  

    <r:set_var name="componentPanelText">wvu-tile_<r:var name="componentInstance" />-<r:item />__text</r:set_var>
    <div class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true><r:partial name="utilities/wvu-component-classes-checker-tiles" theme="University Relations: WVU Design System" />" style="background-image: url(<r:files:each labels="{$bgTileLabel}" labels_match="all" limit="1" types="image" random="true"><r:file:image_url size="1780x1780" /><r:set_var name="bgalt"><r:file:alt_text /></r:set_var></r:files:each>);">
   
      <r:page:if_has_content_for region="{$componentPanelText}" always_show_in_edit_mode="true">
        <div class="p-5">
          <r:editable_region name="{$componentPanelText}" scope="{$componentScope}">
            <p>Default text <r:index /></p>
          </r:editable_region>
        </div>
      </r:page:if_has_content_for>

    </div>
  </r:loop:each>
</div>

<!-- 
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////// -->

<r:comment><!-- Name of editable region containing classes that get applied to a component’s outer container if no “component classes” are provided by the content editor. --></r:comment>
<!-- <r:set_var name="defaultComponentClasses">
  wvu-<r:var name="componentName" />-default-component-classes
</r:set_var> -->


<r:comment><!-- Used to create the editable styles section below the main pattern that will generate the url for each background --></r:comment>
<r:if_blank value="{$disable_component_styler}">
  <r:edit_mode_only>
    <r:if_false value="{page:data_exists}">
      <r:set_var name="instanceNumber" value="1" />
      <r:if_equal x="{$baseComponentName}" y="breadcrumbs">
        <r:set_var name="componentName" value="breadcrumbs-1" />
        <r:set_var name="componentClasses" value="wvu-breadcrumbs-1-classes" />
      </r:if_equal>
    </r:if_false>

    <!-- Edit tile button -->
    <a class="text-white p-1 rounded-sm d-inline-block btn btn-sm btn-wvu-neutral--black wvu-grow-shadow wvu-z-index-content position-absolute mt-n4 ml-1" data-toggle="collapse" href="#editpanel-<r:var name="componentName" />" role="button" aria-expanded="false" aria-controls="editpanel-<r:var name="componentName" />"><small class="d-block"><i class="far fa-edit"></i> Edit <span class="text-capitalize"><r:var name="baseComponentName" /> <r:var name="instanceNumber" /></span> Styles</small></a>
    <section class="px-2 px-md-5 pt-2 pb-3 mb-0 text-light bg-wvu-neutral--black position-relative collapse multi-collapse" id="editpanel-<r:var name="componentName" />">
     
    
    <!-- Styles section for the entire Tile pattern itself.   -->
      <div class="p-2 mb-3">
        <p class="mb-0 text-wvu-gold"><strong>Edit Styles for <r:var name="componentName" /> section</strong></p>
        <p class="mb-0">
          <span class="d-inline-block badge badge-secondary">Utility classes:</span> <div class="text-monospace wvu-z-index-max position-relative"><r:editable_region name="{$componentSpecificName}" scope="{$componentScope}" type="simple" /></div>
        </p>
        <p class="mt-1 small">
          <strong class="text-muted">Default classes:</strong> <pre class="text-muted"><r:var name="defaultEditTileClasses" /></pre>  
        </p>

        <a class="text-wvu-accent--orange" data-toggle="collapse" href="#multiCollapseExample<r:var name="componentName" />" role="button" aria-expanded="false" aria-controls="multiCollapseExample<r:var name="componentName" />">Hints</a>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample<r:var name="componentName" />">
              <p class="text-white">To adjust how many tiles are in a row, add one of the following classes to the utilities. If you would like an option that isn't listed, please ask Tatsu Johnson for help.</p>
              <ul class="text-monospace">
                <li>tile-two-column</li>
                <li>tile-three-column</li>
                <li>tile-four-column</li>
              </ul>
              <p class="helvetica-neue text-white">For a complete list, see our <a class="text-wvu-accent--orange" href="https://designsystem.sandbox.wvu.edu/utilities">utilities</a>.</p>
            </div>
          </div>
        </div>
      </div>
    <!-- End styles for the entire Tile pattern -->
    <!-- Start styles for each tile -->
      <div class="grid-tiles  <r:partial name="utilities/wvu-component-classes-checker-grid" theme="University Relations: WVU Design System" />">  
        <r:loop:each times="{$componentLimit}">    
          <r:set_var name="componentClassIndex">
            <r:var name="componentName" />-<r:item />-classes
          </r:set_var>


          <div class="p-2 mb-3">

            <p class="mb-0 text-white"><strong>Edit Styles for Tile <r:index /></strong></p>
            <p class="mb-0">
              <span class="d-inline-block badge badge-secondary">Utility classes:</span> <div class="text-monospace wvu-z-index-max position-relative"><r:editable_region name="{$componentClassIndex}" scope="{$componentScope}" type="simple" /></div>
            </p>
            <p class="mt-1 small">

                <strong class="text-muted">Default classes:</strong> <pre class="text-muted"><r:var name="defaultComponentItemClasses" /></pre>

            </p>
            <p class="mb-0 mt-1">
              <strong class="text-muted small">Label for background image <r:index />:</strong> <span class="badge badge-pill badge-secondary"><r:page:slug />-<r:var name="componentName" />-background-<r:index /></span>
            </p>
            <a class="text-wvu-accent--orange" data-toggle="collapse" href="#multiCollapseExample<r:var name="componentName" />" role="button" aria-expanded="false" aria-controls="multiCollapseExample<r:var name="componentName" />">Hints</a>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample<r:var name="componentName" />">
                  <ul class="text-monospace">
                    <li>bg-* (wvu-accent--light-blue)</li>
                    <li>text-center</li>
                    <li>text-* (wvu-blue)</li>
                    <li>wvu-bg-blend-mode-lighten</li>
                    <li>wvu-bg-blend-mode-luminosity--* (10, 20, ... 80, 90)</li>
                    <li>wvu-bg-pattern-* (blue, gold, grid, grid-transparent, grid-zoomed, grid-zoomed-transparent, confetti-gold-blue, confetti-gold-blue-white)</li>
                    <li>wvu-bg-position-* (center, top, bottom)</li>
                    <li>wvu-bg-size-cover</li>
                    <li>wvu-bg-topo-* (light, dark)</li>
                    <li>wvu-bg-vignetting--* (10, 20, ... 80, 90)</li>
                  </ul>
                  <p class="helvetica-neue">For a complete list, see our <a class="text-wvu-accent--orange" href="https://designsystem.sandbox.wvu.edu/utilities">utilities</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </r:loop:each>
      </div>
    </section>

  </r:edit_mode_only>
</r:if_blank>

<r:comment><!-- We need to reset our variables so that when another component gets called after this, it doesn’t get injected with unexpected values. --></r:comment>
<r:partial name="includes/wvu-component-variables-reset" theme="University Relations: WVU Design System" />
