<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="quicklinks-full-custom" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="componentSidebarTop">wvu-<r:var name="componentName" />__sidebar-top</r:set_var>
<r:set_var name="componentSidebarBottom">wvu-<r:var name="componentName" />__sidebar-bottom</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">py-5 text-left text-white bg-wvu-neutral--black wvu-bg-topo-dark</r:content_for>

<r:comment><!-- Since there is no header to hook into to label this section, we need to apply an ARIA-Label. This tells our “is main checker” utility to apply the label. --></r:comment>
<r:if_false value="{$componentIsMain}">
  <r:set_var name="componentNeedsARIALabel" value="true" />
</r:if_false>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if_true value="{$componentIsMain}">id="wvu-main-content"</r:if_true> class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true><r:page:unless_has_content_for region="{$componentClasses}"> <r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <div class="container wvu-z-index-content">
    <div class="row">

      <div class="col-sm-12 col-md-3 mr-md-auto">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main Content</span></r:edit_mode_only>
        <r:comment><!-- Editable region for main content. --></r:comment>
        <r:editable_region name="quicklinks-custom-1-header">
          <h2 id="quiclinks-custom-1-label" class="wvu-shout h1 text-left">
          <span class="text-wvu-gold" style="font-size:.7em;">Program</span><br>
            Quicklinks
          </h2>
        </r:editable_region>

      </div>




      <div class="col-sm-12 col-md-9 mr-md-auto">

        <div class="quicklinks-grid">
          <div class="mb-3">
            <r:editable_region name="quicklinks-row-1">
              <h3 class="wvu-shout">Header 1</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
              </ul>
            </r:editable_region>
          </div>
          <div class="mb-3">
            <r:editable_region name="quicklinks-row-2">
              <h3 class="wvu-shout">Header 2</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
              </ul>
            </r:editable_region>
          </div>
          <div class="mb-3">
            <r:editable_region name="quicklinks-row-3">
              <h3 class="wvu-shout">Header 3</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
              </ul>
            </r:editable_region>
          </div>
          <div class="mb-3">
            <r:editable_region name="quicklinks-row-4">
              <h3 class="wvu-shout">Header 4</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
              </ul>
            </r:editable_region>
          </div>
        </div>

      </div>

    </div>
  </div>



<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />


