---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:set_var name="featurettesStyle" value="cards-w-editable-regions"/>
<r:set_var name="limit" value="4" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />
