---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-action-hero-two-column" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<r:set_var name="instanceNumber" value="1" />
<r:partial name="components/v2/wvu-backpage" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/v2/wvu-backpage" theme="University Relations: WVU Design System" />
