---
layout: default
---
<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:set_var name="isMain" value="0" />
<r:set_var name="limit" value="7" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-text-block" />


<div class="container wvu-z-index-content pb-5 pt-2 mb-5">
  <div class="trip-list-table-header">
    <ul class="trip-list-table-item"><li class="trip-list-table-name wvu-shout pt-1 display-5">Trip Name</li><li class="trip-list-table-name wvu-shout pt-1 display-5">Trip Date</li><li class="trip-list-table-name wvu-shout pt-1 display-5">Partnerships</li></ul>
  </div>
  <div class="trip-list-table">
    <r:get_page id="118702"  limit="200">
      <r:children:each>
        <r:if v1="{$trip_type}" v2="explore" op="=">
          <ul class="trip-list-table-item"> 
            <li>
              <p class="trip-list-table-name wvu-shout display-5 pt-1">
                <a href="<r:page:path />">
                  <r:page:name />
                </a>
              </p>
            </li>  
            <r:if_not expr="{{BLANK(trip_date)}}">
                <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="trip_date" />
                <r:if_not expr="{{BLANK(trip_early)}}"> <a href="/first-year-trips/frequently-asked-questions#Early">(Early Move-In)</a></r:if_not>
                </span></p></li>
              </r:if_not>
            <r:if_not expr="{{BLANK(trip_partnerships)}}">
              <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="trip_partnerships" /></span></p></li>
            </r:if_not>
            <r:if_not expr="{{BLANK(free_trip)}}">
              <li><p class="trip_list-details"><strong><r:page:data name="free_trip" /></strong><br><span class="free_trip_details-styles"><r:page:data name="free_trip_details" /></span></p></li>
            </r:if_not>
            <r:if_not expr="{{BLANK(additional_notes)}}">
              <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="additional_notes" /></span></p></li>
            </r:if_not>
            
          </ul>
        </r:if>
      </r:children:each>
    </r:get_page>
  </div>
</div>

