---
layout: default
---

<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:set_var name="limit" value="3" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions" />
<r:set_var name="instanceNumber" value="2" />
<r:set_var name="limit" value="2" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions" />
<r:set_var name="instanceNumber" value="3" />
<r:set_var name="limit" value="2" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

