---
layout: default
custom_data_attributes:
  - show_backpage_hero:
    type: radio
    title: "Show a large hero image on backpage?"
    options:
     - "Yes"
     - "No"
    default:
     - "No"
  - show_backpage:
    type: radio
    title: "Show a backpage component?"
    options:
     - "Yes"
     - "No"
    default:
     - "No"
  - leafletLatLong:
    type: text
    title: "Lat long"
  - leafletZoom:
    type: text
    title: "Zoom"
  - ifBackpageRemoveNav:
    type: checkbox
    title: If backpage, remove nav
  - ifBackpageRemoveSidebar:
    type: checkbox
    title: If backpage, remove sidebar

---
<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<r:partial name="components/map-custom-data" theme="University Relations: WVU Design System" />

<r:partial name="components/facilities-details" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-text-block" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-stat-sheet" theme="University Relations: WVU Design System" />
