---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<r:set_var name="instanceNumber" value="1" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:set_var name="limit" value="3" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="3" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="4" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="5" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="6" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />


<r:set_var name="featurettesStyle" value="editable-regions" />
<r:set_var name="instanceNumber" value="4" />
<r:set_var name="limit" value="3" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="scope" value="site" />
<r:set_var name="instanceNumber" value="10" />
<r:partial name="components/wvu-quicklinks-full" theme="University Relations: WVU Design System" />