---
layout: default
---


<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />
<r:set_var name="isMain" value="1" />
<r:partial name="components/v2/wvu-backpage" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:set_var name="limit" value="3" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:set_var name="limit" value="3" />
<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:set_var name="limit" value="3" />
<r:set_var name="instanceNumber" value="3" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />
