---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/frontpage-announcement-banner"/>


<r:set_var name="isMain" value="0" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />


<r:set_var name="featurettesStyle" value="cards-w-editable-regions"/>
<r:set_var name="limit" value="4" />
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-twitter-widget" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/frontpage-announcement-banner"/>

<r:partial name="components/wvu-social-media" />
