---
layout: default
custom_data_attributes:
  - backpage-announcement-bar:
    type: checkbox
    title: Check to show announcement banner
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero-mini" theme="University Relations: WVU Design System" />

<r:if v1="{$backpage-announcement-bar}" v2="1" op="!=">
  <r:partial name="components/backpage-annoucement-bar" />
</r:if>

<r:set_var name="isMain" value="0" />
<r:set_var name="instanceNumber" value="1" />
<r:set_var name="limit" value="2" />
<r:partial name="components/wvu-tile" theme="University Relations: WVU Design System" />



<section aria-labelledby="position-details-header" class="bg-canvas py-5" >
  <div class="container position-relative wvu-z-index-content">
    <div class="row justify-content-center">
      <div class="col-10">
        <h2 id="position-details-header" class="display-3 wvu-shout text-center wvu-slash wvu-slash--gold wvu-slash--center col-12 pb-4">Position Details</h2>
        <div class="row justify-content-center">
          <div class="col-sm-8 col-md-6">
            <r:editable_region name="Job Description Header">
              <h3>Job Description:</h3>
            </r:editable_region>
            <r:editable_region name="Job Description">
              <p>Decription of the position here.</p>
            </r:editable_region>
            <r:editable_region name="Duties and Responsibilites">
              <h3 class="mt-2">Duty and Responsibilities:</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>
                  <p>Example 1</p>
                </li>
                <li>
                  <p>Example 2</p>
                </li>
              </ul>
            </r:editable_region>
          </div>
          <div class="col-sm-12 col-md-6">
            <r:editable_region name="Job Requirements:">
              <h3>Job Requirements:</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>
                  <p>Example 1</p>
                </li>
                <li>
                  <p>Example 2</p>
                </li>
              </ul>
            </r:editable_region>
            <r:editable_region name="Benefits:">
              <h3 class="mt-2">Benefits:</h3>
              <ul class="wvu-ul-slashes--gold">
                <li>
                  <p>Example 1</p>
                </li>
                <li>
                  <p>Example 2</p>
                </li>
              </ul>
            </r:editable_region>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section aria-label="Apply Now" class=" jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover 
  text-center bg-wvu-accent--light-blue text-wvu-blue
">
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      <div class="col-md-8 mx-auto">
        
        <h2 id="apply-now" class="display-3 wvu-shout">Show your interest</h2>
        <p class="lead pb-2">Fill out the form below.</p>
          
        <r:editable_region name="Apply Now">
          <a class="btn btn-wvu-blue btn-lg text-white" href="#" role="button">Apply to be an <r:page:first_non_blank_attr names="alternate_name, name" /></a>
        </r:editable_region>
      </div>
    </div>
  </div>
</section>