---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/v2/wvu-backpage" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<section aria-label="Student Job List" class="pb-5 pt-2">
  <div class="container wvu-z-index-content">
      <r:get_page id="134900"  limit="200">
        <div class="row"> 
          <ul class="list-unstyled col-6">
            <r:children:each>
              <li>
                <p class="h3">
                  <a class="text-wvu-blue" href="<r:page:path />">
                    <r:page:name />
                  </a>
                </p>
                <ul class="pl-0">
                  <r:loop:each items="{page:tags}">
                    <li class="badge badge-pill badge-primary">
                      <r:item />
                    </li>  
                  </r:loop:each>
                </ul>
              </li>
              <hr>
            </r:children:each>
          </ul>
        </div>
      </r:get_page>
    </div>
  </section>
  