
---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />



<!-- Start Quicklinks section -->

<r:set_var name="baseComponentName" value="quicklinks" />

<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="componentPostscript">wvu-<r:var name="componentName" />__postscript</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">py-3 text-wvu-blue wvu-bg-pattern-gold</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">wvu-shout</r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> class="<r:if v1="{$componentIsEditModeOnly}" v2="1" op="=">d-none </r:if><r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-lg-4">
        <r:edit_mode_only>
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
          </small>
          <span class="d-inline-block badge badge-primary mb-1">Header</span>
        </r:edit_mode_only>
        <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. --></r:comment>
        <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
          <r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple">Quicklinks</r:editable_region>
        </h2>
      </div>
      <div class="col-lg-8">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Quicklinks</span></r:edit_mode_only>
        <r:comment><!-- Editable region for main content. --></r:comment>
        <r:editable_region name="{$componentMain}" scope="{$componentScope}">
          <ul class="list-unstyled wvu-column-count-3">
            <li>
              <a class="text-wvu-blue" href="https://housing.wvu.edu/apply-for-housing">Apply for Housing</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://admissions.wvu.edu/how-to-apply">Apply to WVU</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://studentaccounts.wvu.edu/billing">Billing / Pay Tuition</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="http://wvu.bncollege.com/">Bookstore</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://provost.wvu.edu/academic-calendar">Calendar (Academic)</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://calendar.wvu.edu/">Calendar (Main)</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://visit.wvu.edu/tours">Campus Tours</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://star.wvu.edu/pls/starprod/bwckschd.p_disp_dyn_sched">Course Schedule</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="http://catalog.wvu.edu/">Courses</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://diningservices.wvu.edu/menus">Dining Menus</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://directory.wvu.edu/">Directory</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://ecampus.wvu.edu/">eCampus</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://studentaccounts.wvu.edu/refunds">Get Your Refund</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://graduateadmissions.wvu.edu/academics/graduate-programs">Graduate Programs</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://it.wvu.edu/">Information Technology Services</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://lib.wvu.edu/">Libraries</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://www.wvu.edu/academics/programs">Majors</a>
            </li>
            <li>
              <a class="text-wvu-blue" href="https://wvu.teamdynamix.com/TDClient/KB/ArticleDet?ID=39990">Mounty Bounty Deposits</a>
            </li>
          </ul>
        </r:editable_region>
      </div>
    </div>
    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-2 wvu-z-index-content">
        <div class="wvu-z-index-content mb-2">
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Postscript</span></r:edit_mode_only>
          <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
            <p class="mb-0">View <a class="text-wvu-blue" href="#">all quicklinks</a>.</p>
          </r:editable_region>
        </div>
      </div>
    </r:page:if_has_content_for>
  </div>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
<!-- End Quicklinks section -->

<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System"  />

<r:partial name="components/wvu-stat-sheet" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:set_var name="limit" value="4" />
<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<!-- Start action hero 2 section -->
  <r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

  <r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
  <r:set_var name="baseComponentName" value="action-hero" />
  
  <r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
  <r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />
  
  <r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
  <r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
  <r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
  <r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>
  
  <r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
  <r:content_for name="{$defaultComponentClasses}">bg-wvu-neutral-light-gray text-center</r:content_for>
  <r:content_for name="{$defaultHeaderClasses}">display-2 wvu-shout</r:content_for>
  
  <r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
  <r:edit_mode_only>
    <r:set_var name="componentIsEditModeOnly" value="0" />
  </r:edit_mode_only>
  
  <r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
  <r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
  <!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if_true value="{$componentIsMain}">id="wvu-main-content"</r:if_true> class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true> jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
    <div class="container position-relative wvu-z-index-content">
      <div class="row">
        <r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}"><div class="col-md-8 mx-auto"></r:if_true>
          <r:comment><!-- This is where you can add utility classes that will apply to the hero’s heading. --></r:comment>
          <r:edit_mode_only>
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
              <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
            </small>
            <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
            <span class="d-inline-block badge badge-primary mb-1">Header</span>
          </r:edit_mode_only>
          <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. --></r:comment>
          <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>"><r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple">Action Hero Headline</r:editable_region></h2>
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main Content</span></r:edit_mode_only>
          <r:comment><!-- Editable region for main content. --></r:comment>
          <r:editable_region name="{$componentMain}" scope="{$componentScope}">
            <p class="lead pb-2">This is a simple hero unit, a simple jumbotron-style component for calling
            extra attention to featured content or information.</p><a class="btn btn-wvu-blue btn-lg" href="#" role="button">Call to Action</a><p class="mt-2">Here is a <a href="#" class="text-wvu-accent--dark-blue">Secondary Call to Action</a></p>
          </r:editable_region>
        <r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}"></div></r:if_true>
      </div>
    </div>
  <r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
  </<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->
  
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
  
<!-- End action hero 2 section -->


<r:set_var name="featurettesID" value="125585" />
<r:partial name="components/wvu-event-agenda"/>

<r:set_var name="instanceNumber" value="3" />
<r:set_var name="limit" value="1" />
<!-- Start featurettes 3 -->
  <r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

  <r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
  <r:set_var name="baseComponentName" value="featurettes" />
  
  <r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
  <r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />
  
  <r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
  <r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
  <r:set_var name="componentPostscript">wvu-<r:var name="componentName" />__postscript</r:set_var>
  <r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>
  
  <r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
  <r:content_for name="{$defaultComponentClasses}">py-5 bg-wvu-blue text-white text-center</r:content_for>
  <r:content_for name="{$defaultHeaderClasses}">mb-4</r:content_for>
  
  <r:set_var name="bgPrefix">
    <r:page:slug />-<r:var name="componentName" />
  </r:set_var>
  
  <r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
  <r:edit_mode_only>
    <r:set_var name="componentIsEditModeOnly" value="0" />
  </r:edit_mode_only>
  
  <r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
  <r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
  <!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if_equal x="{$componentDisplayContext}" y="as_full_width_block"><r:if_true value="{$componentIsMain}">id="wvu-main-content"</r:if_true></r:if_equal> class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true><r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
    <div class="<r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}">container </r:if_true>wvu-z-index-content">
  
      <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
        <div class="wvu-z-index-content">
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Header</span></r:edit_mode_only>
          <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. --></r:comment>
          <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
            <h2 id="featurettes-*-label" class="display-3 wvu-shout">Featurettes Headline</h2>
            <p class="h3 helvetica-neue-light mb-4">Subhead goes here.</p>
          </r:editable_region>
        </div>
      </r:page:if_has_content_for>
  
      <r:comment><!-- Define the name of the utility partial you want to call (blog, card-columns, cards, custom, default, etc.).--></r:comment>
      <r:comment><!-- Call a utility partial that loops through each page in site and grabs content if the page label matches.--></r:comment>
      <r:partial name="{{ CONCAT('includes/wvu-featurettes__', componentFeaturettesStyle) }}" theme="University Relations: WVU Design System" />
  
      <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
        <div class="mt-4 wvu-z-index-content mb-2">
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Postscript</span></r:edit_mode_only>
          <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
            <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
          </r:editable_region>
        </div>
      </r:page:if_has_content_for>
  
    </div>
  <r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
  </<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup -->
  
  <r:comment><!-- Pull in partial that allows users to edit classes for component in CleanSlate editor --></r:comment>
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
  
<!-- End featurettes 3 -->
