
---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="0" />
<r:partial name="components/wvu-quicklinks-custom" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System"  />

<r:partial name="components/wvu-stat-sheet" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:set_var name="limit" value="4" />
<r:set_var name="featurettesStyle" value="editable-regions"/>
<r:partial name="components/wvu-featurettes" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="featurettesID" value="125585" />
<r:partial name="components/wvu-event-agenda"/>


<r:partial name="components/wvu-featurettes-quote" theme="University Relations: WVU Design System" />
 

