---
layout: default
---

<r:partial name="patterns/wvu-breadcrumbs" />

<section role="main">
  <div class="custom-container">

    <r:editable_region name="main" />


    <!-- <button class="accordion-button-container collapsed" type="button" data-toggle="collapse" data-target="#accordion-expand-1" aria-expanded="false" aria-controls="accordion-expand-1"> 
      <div class="accordion-button"><span class="see">See</span><span class="hide">Hide</span> <r:editable_region name="collapsable region button text" type="simple"/></div>
    </button> -->
    <div>
      <div class="trip-list-table-header">
        <ul class="trip-list-table-item"><li class="trip-list-table-name">Trip Name</li><li>Trip Date</li><li>Partnerships</li></ul>
      </div>
      <div class="trip-list-table">
        <r:get_page id="96441" >
          <r:children:each  limit="200">
            <r:if v1="{$trip_type}" v2="odyssey" op="=">
              <ul class="trip-list-table-item"> 
                <li>
                  <p class="trip-list-table-name">
                    <a href="<r:page:path />">
                      <r:page:name />
                    </a>
                  </p>
                </li>  
                <r:if_not expr="{{BLANK(trip_date)}}">
                    <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="trip_date" />
                    <r:if_not expr="{{BLANK(trip_early)}}"> <a href="https://adventurefirstyear.wvu.edu/frequently-asked-questions#Early">(Early Move-In)</a></r:if_not>
                    </span></p></li>
                  </r:if_not>
                <r:if_not expr="{{BLANK(trip_partnerships)}}">
                  <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="trip_partnerships" /></span></p></li>
                </r:if_not>
                <r:if_not expr="{{BLANK(free_trip)}}">
                  <li><p class="trip_list-details"><strong><r:page:data name="free_trip" /></strong><br><span class="free_trip_details-styles"><r:page:data name="free_trip_details" /></span></p></li>
                </r:if_not>
                <r:if_not expr="{{BLANK(additional_notes)}}">
                  <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="additional_notes" /></span></p></li>
                </r:if_not>
                
              </ul>
            </r:if>
          </r:children:each>
        </r:get_page>
      </div>
    </div>
  </div>
</section>

<r:partial name="patterns/quicklinks" />
