---
layout: default
---

<r:partial name="patterns/wvu-breadcrumbs" />

<section aria-label="banner">
  <div class="custom-container text">
    
    <r:editable_region name="Info for Parents" />
    <!-- <p class="lede wvu-text--center medium-bottom-margin">Considering whether to encourage your student to attend a First Year Trip?</p>
    <p class="wvu-text--center">About 50% of parents reported it was their idea for their student to attend a FYT—your influence as a parent matters!</p> -->
  </div>
</section>

<!-- 99% -->
<section class="dark-blue-section">
  <div class="custom-container text">
    <r:editable_region name="parents-inforgraphic" />
    <!-- <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of parents would recommend the trip to other incoming students</p>
    <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of parents reported the trip met or exceeded their expectations </p>
    <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">Over 97%</span><br> of parents reported the trip helped their student feel more prepared to begin his/her WVU career</p> -->
  </div>
</section>


<!-- Safety  -->
<section class="full">
  <div class="custom-container text">
    <r:editable_region name="safety" />
    <!-- <h2 class="section-header wvu-text--center wvu-shout--medium-shout wvu-text--black minimal-line-height large-top-margin minimal-bottom-margin">We understand safety is your number one concern as a parent.</h2>
    <p class="lede wvu-text--center medium-bottom-margin">Here are some ways that Adventure WV is committed to safety and professionalism:</p>
    <p class="wvu-text--center grid-two-columns">Adventure WV is run by a team of professional staff with advanced degrees and an average of over 10 years of experience managing outdoor programs in higher education</p>
    <p class="wvu-text--center grid-two-columns">Adventure WV First Year Trip leaders must apply for their position and complete a rigorous training process.  Only around 1/3 of applicants are accepted.  All staff have a minimum of 400 training hours—well over the national average.</p>
    <p class="wvu-text--center grid-two-columns">Adventure WV meticulously tracks incidents and has extremely low incident rates.</p>
    <p class="wvu-text--center grid-two-columns">Adventure WV has won multiple national-level awards for program quality and safety</p> -->
  </div>
</section>


<r:partial name="patterns/quicklinks" />