---
layout: default
---
<r:partial name="patterns/wvu-breadcrumbs" />


<!-- Partnerships -->
<section>
  <div class="custom-container">
    <r:editable_region name="banner" />
  </div>
</section>
<section>
  <div class="custom-container">

    <!-- <button class="partnership-button-container collapsed" type="button" data-toggle="collapse" data-target="#partnership-expand" aria-expanded="false" aria-controls="partnership-expand">
      <div class="partnership-button"><span class="see">See</span><span class="hide">Hide</span> <r:editable_region name="collapsable region button text" type="simple"/></div>
    </button> -->
    <div class="grid-three-column" id="partnership-expand">
      <r:get_page id="96441">

        <div class="card">
          <h3>Honors</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Honors" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Statler</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Statler" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Chambers</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Chambers" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <!-- <div class="card">
          <h3>Forensics</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Forensics" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div> -->
        <div class="card">
          <h3>College of Creative Arts</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="College of Creative Arts" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Army ROTC</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="ROTC" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>First Year Pathways</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="FYP" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Transfer Students</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Transfer" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Reed College of Media</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Reed College of Media" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Exercise Physiology</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="ExPhys" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>Davis College</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="Davis College" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>CPASS</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="CPASS" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <div class="card">
          <h3>LGBTQ+ Allies</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="LGBTQ" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div>
        <!-- <div class="card">
          <h3>HSTA & HCOP</h3>
          <r:children:each limit="200">
            <r:if v1="{$trip_partnerships}" v2="HSTA & HCOP" op="=">
              <p><a href="<r:page:path />"><r:page:name /> : <span> <r:page:data name="trip_date" /></span></a></p>
            </r:if>
          </r:children:each>
        </div> -->

      </r:get_page>
    </div>
  </div>
</section>

<r:partial name="patterns/quicklinks" />
