---
layout: default
---

<r:partial name="patterns/wvu-breadcrumbs" />

<section role="main">
  <div class="custom-container">
    <div class="text">
      <r:editable_region name="main" />
      <!-- <h1 class="section-header wvu-shout--medium-shout wvu-text--uppercase minimal-bottom-margin wvu-text--black large-top-margin minimal-bottom-margin">Registration Steps:</h1>
      <p class="lede medium-bottom-margin minimal-top-margin">Registration for 2020 First-Year Trips will open in February 2020.</p>
      <ol>
        <li>Review Essential Eligibility Criteria and contact <a href="mailto:adventurewv@mail.wvu.edu">adventurewv@mail.wvu.edu</a> if you may need accommodations </li>
        <li>Select a Trip by reviewing the About Our Trips and Partnerships pages.  Select your trip model and trip dates.</li>
          <ol>
            <li>Specific trip date are listed under the Quest, Explore, Odyssey, and Partnerships pages</li>
            <li>You can see a comprehensive list of trips here (link to adventurefirstyear/wvu.edu/trip-list  -- this will just have a basic list of all trips, of open enrollment, and of partnerships)</li>
          </ol>
        </li>
        <li>Click HERE to begin the registration process.  Note you will need your WVUID, Username, and Password
          <ol>
            <li>After you complete online registration, you will receive email confirmation to your @mix account with more information and next steps </li>
          </ol>
        </li>
      </ol> -->
    </div>
  </div>
</section>

<r:partial name="patterns/quicklinks" />