---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />

<r:set_var name="isMain" value="" />
<r:set_var name="instanceNumber" value="1" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="2" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />

<r:set_var name="instanceNumber" value="3" />
<r:partial name="components/wvu-action-hero" theme="University Relations: WVU Design System" />
