---
layout: default
---

<!-- For Students -->
<div class="custom-container" aria-labelledby="about-trips">

  <h1 class="section-header wvu-shout--medium-shout minimal-bottom-margin wvu-text--black wvu-text--center"
    id="about-trips">Why you should consider First Year Trips</h1>
  <p class="lede wvu-text--center">Subhead goes here.</p>
  <div class="single-video-container  large-bottom-margin">
    <div></div>
    <div class="embed-responsive">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uaCcDuTAPro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div></div>
  </div>
        


<!-- 
  <div class="custom-four-column" aria-labelledby="for-students">
    <h3 id="for-students" class="wvu-text--center">
      Headline
    </h3>
    <p>FYTs are all about making connections with other students and learning from expert upperclassmen leaders.  Trips come highly recommend by participants:
        <ul>
            <li>99% of participants recommend the program to other incoming WVU students</li>
            <li>99% of participant give their trip a grade of A or B</li>
            <li>99% of students said their trip met or exceeded their expectations</li>
        </ul>
    </p>
  </div>
  <div class="custom-four-column" aria-labelledby="for-parents">
    <h3 id="for-parents" class="wvu-text--center">
      Headline
    </h3>
    <p>FYTs are designed for beginners with no previous experience expected nor required.  A lot of students are “on the fence” about whether trips are “for them.”  Check out a few quotations from students who decided to participate:</p>
        <p>All of these new relationships helped me move from high school to college extremely well, because I knew that we would all still hang out with each other when we got to school. I had never clicked so fast with a group of people, and I knew that they would be in my life for the long run, and I am excited to experience this new chapter with my new best friends. </p>
        <p>Everyone was kind of nervous and uncomfortable when the trip started. But as time went on, we all became friends and got to start our college experience of together. This really gave us an advantage for the other students that may have done just regular move in. It gave us a head start on our new friendships and our college experience. </p>
        <p> I was at peace, the only person awake in the entire campsite, drinking in the beauty of the world around me. The last few days had been my favorite days of my entire summer, as the people I was surrounded with were constantly smiling, happy, and accepting of the person I am. I came into the program terrified of college and exited with my arms around 16 of my new closest friends, ready to tackle whatever came our way. </p>
  </div>
  <div class="custom-four-column" aria-labelledby="for-parents">
    <h3 id="for-parents" class="wvu-text--center">
      Headline
    </h3>
    <p>Not sure FYTs are for you?  Consider…
        <ul>
        <li>Price tag--$95 or less!</li>
        <li>All equipment is provided</li>
        <li>No experience is expected</li>
        <li>Earn 1 Fall college credit</li>
        <li>Build strong friendships</li>
        <li>Many students say it was their best decision in their first year at WVU!</li>
        </ul>
    </p>
  </div> -->

</div>


<div class="dark-blue-section">
    <div class="custom-container">
        <p class="lede wvu-text--center minimal-bottom-margin">FYTs are all about making connections with other students and learning from expert upperclassmen leaders.</p>  
        <h2 class="section-header wvu-text--center wvu-shout--medium-shout wvu-text--black minimal-line-height minimal-top-margin minimal-bottom-margin">Trips come highly recommend by participants.</h2>
        <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of participants recommend the program to other incoming WVU students</p>
        <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of participant give their trip a grade of A or B</p>
        <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of students said their trip met or exceeded their expectations</p>
    </div>
</div>

<!-- Partnerships -->
<div class="" aria-labelledby="partnerships">
  <div class="custom-container" aria-labelledby="about-trips">
    <p class="lede wvu-text--center minimal-bottom-margin">FYTs are designed for beginners. </p>
    <p class="section-header wvu-text--center wvu-shout--medium-shout wvu-text--black minimal-bottom-margin minimal-top-margin minimal-line-height">No previous experience expected nor required.  
    <p class="lede wvu-text--center medium-bottom-margin">A lot of students are <span>“on the fence”</span> about whether trips are <span>“for them.”</span>  Check out a few quotations from students who decided to participate:</p>
    <p class="custom-four-column student-quote">All of these new relationships helped me move from high school to college extremely well, because I knew that we would all still hang out with each other when we got to school. I had never clicked so fast with a group of people, and I knew that they would be in my life for the long run, and I am excited to experience this new chapter with my new best friends. </p>
    <p class="custom-four-column student-quote">Everyone was kind of nervous and uncomfortable when the trip started. But as time went on, we all became friends and got to start our college experience of together. This really gave us an advantage for the other students that may have done just regular move in. It gave us a head start on our new friendships and our college experience. </p>
    <p class="custom-four-column student-quote">I was at peace, the only person awake in the entire campsite, drinking in the beauty of the world around me. The last few days had been my favorite days of my entire summer, as the people I was surrounded with were constantly smiling, happy, and accepting of the person I am. I came into the program terrified of college and exited with my arms around 16 of my new closest friends, ready to tackle whatever came our way. </p>
  </div>
</div> 

<div class="">
  <div class="custom-container">
    <h2 class="wvu-text--center wvu-text--black">All First-Year Trips are similar at their core.</h2>
    <ul class="first-trips">
      <li>No experience required or expected</li>
      <li>All technical and camping equipment is provided</li>
      <li>Trips are $95 or less</li>
      <li>Earn 1 Fall College Credit</li>
      <li>Focus on building lasting friendships and community</li>
      <li>Engage with our impactful curriculum</li>
      <li>Mentoring from upperclassmen peer leaders</li>
    </ul>
  </div>
</div>

<div class="">
  <div class="custom-container">    
    <h2 class="wvu-text--center wvu-text--black">All First-Year Trips are similar at their core.</h2>
    <div class="consider-grid">
      <div class="wvu-text--black wvu-text--center"><p>All trips are $95 or less.</p></div>
      <div class="wvu-text--black wvu-text--center"><p>All Equipment is provided</p></div>
      <div class="wvu-text--black wvu-text--center"><p>Earn 1 Fall Credit</p></div>
      <div class="wvu-text--black wvu-text--center"><p>No experience necessary</p></div>
      <div class="wvu-text--black wvu-text--center"><p>Build strong relationships</p></div>
      <div class="wvu-text--black wvu-text--center"><p>Many students say it was their best decision in their first year at WVU.</p></div>
    </div>
  </div>
</div>

<!-- Build Strong Relationships -->
<div class="strong-relationships">
  <div class="custom-container">
    <h3 class="wvu-text--center">Build Strong Relationships</h3>
  </div>
</div>

<r:partial name="patterns/quicklinks" />