
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      <div class="col-md-6 mr-auto bg-light py-5 wvu-z-index-content<r:if v1="{$componentAlign}" v2="right" op="!="> text-right</r:if>">
        <r:comment><!-- This is where you can add utility classes that will apply to the hero’s heading. --></r:comment>
        <r:edit_mode_only>
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
          </small>
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <span class="d-inline-block badge badge-primary mb-1">Header</span>
        </r:edit_mode_only>
       
       
        <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also add different classes depending on how the component alignment is set. --></r:comment>
        <h2 id="<r:var name="componentName" />-label" class="p-4 bg-light <r:if v1="{$componentAlign}" v2="right" op="!=">mr-md-n5 float-right</r:if> <r:if v1="{$componentAlign}" v2="right" op="=">ml-md-n5</r:if> <r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for>"><r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region></h2>
        <r:comment><!-- Apply different classes to the element based on the component’s alignment. --></r:comment>
        <div class="<r:if v1="{$componentAlign}" v2="right" op="!=">pr-2 float-right</r:if><r:if v1="{$componentAlign}" v2="right" op="=">pl-2</r:if>">
          <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main Content</span></r:edit_mode_only>
          <r:comment><!-- Editable region for main content. --></r:comment>
          <r:editable_region name="{$componentMain}" scope="{$componentScope}">
            <p class="iowan-old-style-italic text-wvu-blue h1">Center for Cool Innovation</p>
            <p class="lead mb-4">For even more hands-on experience and to improve the oral health of children
              and adults across the state, School of Dentistry students must accumulate
              125 hours or more of community engagement work prior to graduation.</p>
            <a href="#" class="btn btn-primary">Action Item</a>
          </r:editable_region>
        </div>
      </div>
     
  </div>
