---
layout: default
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/wvu-hero" theme="University Relations: WVU Design System" />


<r:set_var name="isMain" value="0" />
<r:partial name="components/wvu-quicklinks-custom" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-text-block" theme="University Relations: WVU Design System" />

<r:partial name="components/wvu-stat-sheet" theme="University Relations: WVU Design System" />
