---
layout: default
---

<r:partial name="patterns/wvu-breadcrumbs" />

<section class="full">
  <div class="custom-container">
    <h1 class="section-header wvu-shout--medium-shout wvu-text--uppercase medium-bottom-margin wvu-text--black large-top-margin wvu-text--center">Trips List</h1>
    <div>
      <r:editable_region name="pdf button" />
    </div>
    
    <div class="">
      <r:get_page id="96441" >
        <div class="trip-list-table-header">
          <ul class="trip-list-table-item"><li class="trip-list-table-name">Trip Name</li><li>Trip Type</li><li>Trip Date</li><li>Partnerships</li></ul>
        </div>
        <div class="trip-list-table">
          <r:children:each limit="200">
            <ul class="trip-list-table-item"> 
              <li class="trip-list-table-name">
                <p>
                  <a href="<r:page:path />">
                    <r:page:name />
                  </a>
                </p>
              </li>  
              <r:if_not expr="{{BLANK(trip_type)}}"> 
                <li>
                  <p class="trip_list-details">
                    <span class="trip_list-result">
                      <a href="/<r:page:data name="trip_type" />"> 
                        <r:page:data name="trip_type" /> 
                      </a>
                    </span>
                  </p>
                </li>
              </r:if_not> 
              <r:if_not expr="{{BLANK(trip_date)}}">
                <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="trip_date" />
                <r:if_not expr="{{BLANK(trip_early)}}"> <a href="https://adventurefirstyear.wvu.edu/frequently-asked-questions#Early">(Early Move-In)</a></r:if_not>
                </span></p></li>
              </r:if_not>
              <r:if_not expr="{{BLANK(trip_partnerships)}}">
                <li><p class="trip_list-details"><span class="trip_list-result"> <r:page:data name="trip_partnerships" /></span></p></li>
              </r:if_not>
              <r:if_not expr="{{BLANK(free_trip)}}">
                <li class="trip-list-table-full-item"><p class="trip_list-details"><strong><r:page:data name="free_trip" /></strong><br><span class="free_trip_details-styles"><r:page:data name="free_trip_details" /></span></p></li>
              </r:if_not>
              <r:if_not expr="{{BLANK(additional_notes)}}">
                <li class="trip-list-table-full-item"><p class="trip_list-details"><strong>Please note: </strong><span class="trip_list-result"> <r:page:data name="additional_notes" /></span></p></li>
              </r:if_not>
            </ul>
          </r:children:each>
        </div>
      </r:get_page>
    </div>
  </div>
</section>


<r:partial name="patterns/quicklinks" />