---
layout: default
---

<!-- Trips -->
<section class="wvu-bg-topo-dark">
 <div class="custom-container">
    <h1 class="section-header wvu-shout--medium-shout wvu-text--uppercase minimal-bottom-margin wvu-text--black wvu-text--center large-top-margin"
    id="about-trips-intro"><r:editable_region name="Trip Details Header" type="simple" /></h1>
    <p class="lede wvu-text--center "><r:editable_region name="Trip Details Lede" type="simple" /></p>

    <div class="single-video-container  large-bottom-margin">
      <div></div>
      <div class="embed-responsive">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uaCcDuTAPro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  title="Adventure WV First-Year Trips - Cinematic Trailer"></iframe>
      </div>
      <div></div>
    </div>
 </div>
</section>

<section class="dark-blue-section full" >
  <div class="custom-container">
    <r:editable_region name="Highly Recommended" />
    <!-- <p class="lede wvu-text--center minimal-bottom-margin large-top-margin">FYTs are all about making connections with other students and learning from expert upperclassmen leaders.</p>  
    <h2 class="section-header wvu-text--center wvu-shout--medium-shout wvu-text--black minimal-line-height minimal-top-margin minimal-bottom-margin">Trips come highly recommend by participants.</h2>
    <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of participants recommend the program to other incoming WVU students</p>
    <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of participant give their trip a grade of A or B</p>
    <p class="custom-four-column wvu-text--center stats-big-number"><span class="big-number">99%</span><br> of students said their trip met or exceeded their expectations</p> -->
  </div>
</section>


<!-- Section for Quest, Explore and Odyssey in Edit Mode only-->
<r:edit_mode_only>
<section aria-labelledby="about-trips-edit" class="full wvu-instructions">
    <div class="custom-container">
      <p><strong>Note:</strong>Edit this section to edit content in the following dropdown.</p>

      <r:editable_region name="About Trips Header" />
      
      <div class="grid-three-column">
        <div class="large-bottom-margin">
            <r:editable_region name="quest-pic" />
            <r:editable_region name="quest-desc" />
            <r:editable_region name="quest-details" />
          </div> 
          <div class="large-bottom-margin">
            <r:editable_region name="explore-pic" />
            <r:editable_region name="explore-desc" />
            <r:editable_region name="explore-details" />
          </div> 
          <div class="large-bottom-margin">
            <r:editable_region name="odyssey-pic" />
            <r:editable_region name="odyssey-desc" />
            <r:editable_region name="odyssey-details" />
          </div>    
      </div>

    </div>
  </section>
</r:edit_mode_only>


<!-- Section for Quest, Explore and Odyssey -->
<section aria-labelledby="about-trips" class="full">
  <div>
    <div class="custom-container">
      
      <r:page:content name="About Trips Header" />

      <div class="grid-three-column large-bottom-margin">
        <div class="quest-card">
          <button class="quest-card-header collapsed" type="button" data-toggle="collapse" data-target="#quest-expand" aria-expanded="false" aria-controls="quest-expand">
            <div class="trip-image">           
              <r:page:content name="quest-pic" />
            </div>
            <r:page:content name="quest-desc" />
            <div class="collapse quest-card-expand" id="quest-expand">
              <r:page:content name="quest-details" />
            </div>
            <span class="fas fa-chevron-circle-up"></span>
          </button>
        </div>

        <div class="explore-card">
          <button class="explore-card-header collapsed" type="button" data-toggle="collapse" data-target="#explore-expand" aria-expanded="false" aria-controls="explore-expand">
            <div class="trip-image">
              <r:page:content name="explore-pic" />
            </div>
            <r:page:content name="explore-desc" />
            <div class="collapse explore-card-expand" id="explore-expand">
              <r:page:content name="explore-details" />
            </div>
            <span class="fas fa-chevron-circle-up"></span>
          </button>
        </div>
      
        <div class="odyssey-card">
          <button class="odyssey-card-header collapsed" type="button" data-toggle="collapse" data-target="#odyssey-expand" aria-expanded="false" aria-controls="odyssey-expand">
            <div class="trip-image">
              <r:editable_region name="odyssey-pic" />
            </div>
            <r:page:content name="odyssey-desc" />
            <div class="collapse odyssey-card-expand" id="odyssey-expand">
              <r:page:content name="odyssey-details" />
            </div>
            <span class="fas fa-chevron-circle-up"></span>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>





<section aria-labelledby="quotes" class="full wvu-blue-dark-background">
  <div class="custom-container">
    <r:editable_region name="quotes-header" />
    <!-- <p class="lede wvu-text--center minimal-bottom-margin large-top-margin">FYTs are designed for beginners. </p>
    <h2 id="quotes" class="section-header wvu-text--center wvu-shout--medium-shout wvu-text--black minimal-bottom-margin minimal-top-margin minimal-line-height">No previous experience expected nor required. </h2> 
    <p class="lede wvu-text--center medium-bottom-margin">A lot of students are <span>“on the fence”</span> about whether trips are <span>“for them.”</span>  Check out a few quotations from students who decided to participate:</p> -->
    
    <r:editable_region name="quotes-text" />
   
    <!-- <p class="custom-four-column student-quote">All of these new relationships helped me move from high school to college extremely well, because I knew that we would all still hang out with each other when we got to school. I had never clicked so fast with a group of people, and I knew that they would be in my life for the long run, and I am excited to experience this new chapter with my new best friends. </p>
    <p class="custom-four-column student-quote">Everyone was kind of nervous and uncomfortable when the trip started. But as time went on, we all became friends and got to start our college experience of together. This really gave us an advantage for the other students that may have done just regular move in. It gave us a head start on our new friendships and our college experience. </p>
    <p class="custom-four-column student-quote">I was at peace, the only person awake in the entire campsite, drinking in the beauty of the world around me. The last few days had been my favorite days of my entire summer, as the people I was surrounded with were constantly smiling, happy, and accepting of the person I am. I came into the program terrified of college and exited with my arms around 16 of my new closest friends, ready to tackle whatever came our way. </p> -->
  </div> 
</section> 


<section aria-labelledby="fyt-similar" class="full">
  <div class="custom-container">
    <div class=" custom-six-column">
      <h2 id="fyt-similar" class="wvu-shout--medium-shout wvu-text--black medium-bottom-margin">
        <r:editable_region name="fyt-header" />
        <!-- All First-Year Trips are similar at their core. -->
      </h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NP7on3GhNGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="WVU First-Year Trips - peer-led, adventure-based experiences that prepare students for life at WVU."></iframe>
    </div>
    <div class="custom-six-column">
        <div class="consider-grid large-bottom-margin">
          <r:editable_region name="fyt-text" />

          <!-- <div class="wvu-text--black wvu-text--center"><p>All trips are $95 or less.</p></div>
          <div class="wvu-text--black wvu-text--center"><p>All Equipment is provided</p></div>
          <div class="wvu-text--black wvu-text--center"><p>Earn 1 Fall Credit</p></div>
          <div class="wvu-text--black wvu-text--center"><p>No experience necessary</p></div>
          <div class="wvu-text--black wvu-text--center"><p>Build strong relationships</p></div>
          <div class="wvu-text--black wvu-text--center"><p>Many students say it was their best decision in their first year at WVU.</p></div> -->
        </div>
    </div>
  </div>
</section>

<r:partial name="patterns/quicklinks" />



<!-- 

  <div tabindex="0" class="quest-card">
    <div class="quest-card-header">
      <h3>Quest</h3>
      <p>Participants on QUEST trips have the opportunity to sample an exciting array of adventure activities from a central, basecamp location. </p>
    </div>
    <div class="quest-card-expand">
      <h4>Activity Highlights</h4>
      <p>All Quest participants will engage in rock climbing, challenge course elements, whitewater rafting, and will give back to the local community. Other activities will vary.</p>
      <h4>Where do you stay?</h4>
      <p>Basecamp with rustic cabins</p>
      <h4>Trip Length</h4>
      <p>5 Days</p>
    </div>
  </div>

  <div tabindex="0" class="quest-card">
    <div class="quest-card-header">
      <h3>Explore</h3>
      <p>Participants on EXPLORE trips will enjoy a smaller group experience, more time in the great outdoors, and a sense of challenge and accomplishment, while visiting some of the most popular places in WV.</p>
    </div>
    <div class="quest-card-expand">
      <h4>Activity Highlights</h4>
      <p>All Explore participants will learn the basics of backpacking while traveling through a pristine area of WV and will trips conclude with whitewater rafting at the New River Gorge.</p>
      <h4>Where do you stay?</h4>
      <p>Combination of tent camping & backpacking</p>
      <h4>Trip Length</h4>
      <p>5 Days</p>
    </div>
  </div>

  <div tabindex="0" class="quest-card">
    <div class="quest-card-header">
      <h3>Odyssey</h3>
      <p>Participants on ODYSSEY trips will travel all around the great state of West Virginia, while trying their hand at some of the most outstanding adventure activities the state and surrounding area have to offer. </p>
    </div>
    <div class="quest-card-expand">
      <h4>Activity Highlights</h4>
      <p>All Odyssey participants will travel around WV, engage in a variety of aerial adventures, and experience whitewater rafting.  Other activities will vary.</p>
      <h4>Where do you stay?</h4>
      <p>Combination of tent camping and rustic cabins</p>
      <h4>Trip Length</h4>
      <p>6 Days</p>
    </div>
  </div>
 -->

<!-- //////////////////////////////////////////////////////// -->

<!-- 

  <div tabindex="0" class="full">
    <div class="full ">
      <div class="custom-four-column">
        <h3>Quest</h3>
        <p>Participants on QUEST trips have the opportunity to sample an exciting array of adventure activities from a central, basecamp location. </p>
      </div>
      <div class="custom-four-column">
        <h3>Explore</h3>
        <p>Participants on EXPLORE trips will enjoy a smaller group experience, more time in the great outdoors, and a sense of challenge and accomplishment, while visiting some of the most popular places in WV.</p>
      </div>
      <div class="custom-four-column">
        <h3>Odyssey</h3>
        <p>Participants on ODYSSEY trips will travel all around the great state of West Virginia, while trying their hand at some of the most outstanding adventure activities the state and surrounding area have to offer. </p>
      </div>
    </div>

    <div class="">
      <h4 class="wvu-text--center">Activity Highlights</h4>
      <p class="custom-four-column">All Quest participants will engage in rock climbing, challenge course elements, whitewater rafting, and will give back to the local community. Other activities will vary.</p>
      <p class="custom-four-column">All Explore participants will learn the basics of backpacking while traveling through a pristine area of WV and will trips conclude with whitewater rafting at the New River Gorge.</p>
      <p class="custom-four-column">All Odyssey participants will travel around WV, engage in a variety of aerial adventures, and experience whitewater rafting.  Other activities will vary.</p>
      <h4 class="wvu-text--center">Where do you stay?</h4>
      <p class="custom-four-column">Basecamp with rustic cabins</p>
      <p class="custom-four-column">Combination of tent camping & backpacking</p>
      <p class="custom-four-column">Combination of tent camping and rustic cabins</p>
      <h4 class="wvu-text--center">Trip Length</h4>
      <p class="custom-four-column">5 Days</p>
      <p class="custom-four-column">5 Days</p>
      <p class="custom-four-column">6 Days</p>
    </div>

  </div> -->


<!--     
  <button class="" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
    <div class="full ">
        <div class="custom-four-column">
          <h3>Quest</h3>
          <p>Participants on QUEST trips have the opportunity to sample an exciting array of adventure activities from a central, basecamp location. </p>
        </div>
        <div class="custom-four-column">
          <h3>Explore</h3>
          <p>Participants on EXPLORE trips will enjoy a smaller group experience, more time in the great outdoors, and a sense of challenge and accomplishment, while visiting some of the most popular places in WV.</p>
        </div>
        <div class="custom-four-column">
          <h3>Odyssey</h3>
          <p>Participants on ODYSSEY trips will travel all around the great state of West Virginia, while trying their hand at some of the most outstanding adventure activities the state and surrounding area have to offer. </p>
        </div>
      </div>
  </button> -->
    

<!-- 
      <div class="col">
        <div class="collapse" id="multiCollapseExample2">
          <div class="">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div> -->



<!-- <section>
    <div class="">
        <div class="custom-container">
          <div class="consider-grid">
            <div class="wvu-text--black wvu-text--center"><p>All trips are $95 or less.</p></div>
            <div class="wvu-text--black wvu-text--center"><p>All Equipment is provided</p></div>
            <div class="wvu-text--black wvu-text--center"><p>Earn 1 Fall Credit</p></div>
            <div class="wvu-text--black wvu-text--center"><p>No experience necessary</p></div>
            <div class="wvu-text--black wvu-text--center"><p>Build strong relationships</p></div>
            <div class="wvu-text--black wvu-text--center"><p>Many students say it was their best decision in their first year at WVU.</p></div>
          </div>
        <div>
      </div>
</section> -->
