<r:set_var name="componentClassIndex">
  <r:var name="componentName" />-<r:item />-classes
</r:set_var>


<r:comment><!-- Output content from a component classes editable region. This region is contained in the background styler on each component. --></r:comment>
<r:page:if_has_content_for region="{$componentClassIndex}">
  <r:page:content name="{$componentClassIndex}" />
</r:page:if_has_content_for>
<r:comment><!-- If there is no content in the component classes region, output the default component classes, which are defined in the component partial. --></r:comment>
<r:page:unless_has_content_for region="{$componentClassIndex}">
  <r:var name="defaultComponentItemClasses" />
</r:page:unless_has_content_for>

