<r:comment><!-- Output content from a component classes editable region. This region is contained in the background styler on each component. --></r:comment>
<r:page:if_has_content_for region="{$componentSpecificName}">
  <r:page:content name="{$componentSpecificName}" />
</r:page:if_has_content_for>
<r:comment><!-- If there is no content in the component classes region, output the default component classes, which are defined in the component partial. --></r:comment>
<r:page:unless_has_content_for region="{$componentSpecificName}">
  <r:var name="defaultEditTileClasses" />
</r:page:unless_has_content_for>