

// // backpage text container
// .text{
//   max-width: 960px; 
//   }

// Frontpage hero

.front-page-hero{
  background-image: url("https://adventurefirstyear.wvu.edu/files/ac84c258-e519-421c-8d3a-fa4a928a4d4e/346x231?cb=1573230060");
  background-position: center;
  background-size: cover;
  width:100%;
  float:left;
  height:auto;
  padding-top: 250px;
  padding-bottom: 50px;
  h1{
    color:white;
    }
  }
.hero-container{
  background-color: rgba(0,0,0,0.5);
  border-top: solid 6px #eeaa00;
  padding: 40px;
  text-align: center;
  transition: all 0.3s ease;
  &:hover{
    background-color: rgba(0,0,0,0.7);
    }
  }


// texture backgrounds
.gray-section.texture{
  background-image: url(https://adventurefirstyear.wvu.edu/files/d/eb975b6a-5629-4207-880f-8fae40f97266/background-texture.jpg);
  background-position: 50% 40%;
  }


.wvu-blue-dark-background{
  background-color:$wvu-dark-blue;
  border-color: $wvu-dark-blue;
  color:white;
  h1,h2,h3,h4,h5,h6,p,a,a:visited{
    color:white;
    }
  }
.yellow-section, .gray-section, .dark-blue-section, .light-blue-section,.wvu-blue-dark-background{
  float:left;
  width:100%;
  }
.lede {
  font-size: 1.4em;
  font-family: $helvetica-neue;
  line-height: 1.3em;
  margin-bottom: .4em;
  margin-top: .4em;
  .fonts-loaded & { font-family: $helvetica-neue-light; }
    @media (min-width: $wvu-bp-sm) {
      font-size: 1.9em;
      }
    @media (min-width: $wvu-bp-md) {
      font-size: 2.4em;
      max-width:100%;
      }
}

// @media (min-width: $wvu-bp-md) {

// Three different model icon styles
.model-icon{
  width:40%;
  margin-left:30%;
  margin-right:30%;
  }


  // $95 or Less badge
.ninetyfive-or-less{
  text-align:center;
  background-color:#333F48;
  color:white;
  width:220px;
  height:220px;
  padding:20px;
  border-radius:50%;
  margin:50px auto;
  p{
    font-weight:600;
    font-family: sans-serif;
    text-transform:uppercase;
    font-size:1.5em;
    margin:10px;
    span{
      font-size:4em;
      line-height:.9em;
      }
    }
  }


//////////////////////////
// Margin modifiers

.zero-top-margin, .no-top-margin{
  margin-top:0px;
  }
.minimal-top-margin{
  margin-top:10px;
  }
.small-top-margin{
  margin-top:20px;
  }
.medium-top-margin{
  margin-top:40px;
  }
.large-top-margin{
  margin-top:60px;
  }

.zero-bottom-margin, .no-bottom-margin{
  margin-bottom:0px;
  }
.minimal-bottom-margin{
  margin-bottom:10px;
  }
.small-bottom-margin{
  margin-bottom:20px;
  }
.medium-bottom-margin{
  margin-bottom:40px;
  }
.large-bottom-margin{
  margin-bottom:60px;
  }


// Font Modifiers
.minimal-line-height{
  line-height: 1;
  }
.wvu-text--black{
  font-family:$helvetica-neue-condensed-black;
  }
.wvu-text--dark-blue{
  color:$wvu-dark-blue;
  } 
.text{
  p, li{
    font-size:1.3em;
    li{
      font-size:1em;
      }
    }
  .lede{
    font-size:2em;
    }
  }

// Text Block Modifiers
.medium-paragraph-block-centered{
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  }


//Button Styles
.button-container{
  width: 100%;
  float: left;
  margin-top:20px;
  }
.button--center{
  width:100%;
  margin: 0 auto;
  text-align: center;
  margin-top:20px;
  }
.first-trips{
  display: grid;
  @media (min-width: $wvu-bp-md) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    }
  li{
    list-style: none;
    text-align: center;
    }
  }
.choose-trips{
  display: grid;
  @media (min-width: $wvu-bp-md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    }
  li{
    list-style: none;
    text-align: center;
    }
}

// Background Elements
.dark-forest-bg{
  background-image: url(../images/dark-forest-bg.jpg);
  background-size: cover;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color:transparent;
  padding-top:40px;
  h2,h3,p{
    color:white;
    }
  }



.quest-card, .quest-card-expand,.explore-card, .explore-card-expand,.odyssey-card, .odyssey-card-expand{
  float: left;
  height:auto;
  h3{
    font-size:3em;
    margin-top:20px;
    color:$wvu-blue;
    font-family: $helvetica-neue-condensed-black;
    }
  h4{
    padding: 20px 20px 0px 20px;
    text-align:center;
    font-family: $helvetica-neue-condensed-black;
    }
  p{
    padding:0 20px 20px 20px;
    text-align:center;
    font-family: $helvetica-neue;
    }
  }
.banner-image-container{
  width:100%;
  max-width:600px;
  margin:0 auto;
  overflow: hidden;
  img{
    width:100%;
    }
  }
.trip-image{
  width:100%;
  height: auto;
  @media (min-width: $wvu-bp-lg){
    max-height:233px;
    overflow: hidden;
    }
  img{
    width:100%;
    }
  }  
.quest-card, .explore-card, .odyssey-card{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,.6);
  }
.quest-card-expand,.explore-card-expand,.odyssey-card-expand{
  border-top:solid 1px $wvu-blue ;
  }
.quest-card-header,.explore-card-header,.odyssey-card-header{
  float: left;
  width: 100%;
  height:auto;
  background-color:transparent;
  border:none;
  padding:0;
  }


// Accordion styles
.fa-chevron-circle-up{
  position: relative;
  font-size:2em;
  margin-bottom:20px;
  }
.collapsed{ 
  .fa-chevron-circle-up{
    transform: rotate(180deg);
    
    }
  }

.toggle-container-expand {
  display:none;
  }
.toggle-container:hover > .toggle-container-expand {
  display: inline;
  }
.toggle-container:focus-within > .toggle-container-expand {
  display: inline;
  }

.full{
  width: 100%;
  float: left;
  }

.student-quote{
  font-size:1.1em;  
  text-align: center;
  font-family: $iowan-old-style;
  }
.student-quote:before{
  font-family: "Arial Narrow",Impact,Charcoal,"Arial Black","Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif !important;
  font-weight: bolder !important;
  letter-spacing: -0.4px !important;
  line-height: .80487em !important;
  text-transform: uppercase !important;
  word-break: break-word !important;
  content: '“';
  display: block;
  font-size: 3em;
  color:$wvu-gold;
  }

.big-number{
  font-family: $helvetica-neue-condensed-black;
  font-size:3em;
  text-align: center;
  color:$wvu-gold;

  }
.stats-big-number{
  font-size: 1.5em;
  }

.single-video-container{
  display:grid;
  grid-template-columns: 1fr minmax(200px, 960px) 1fr;
  grid-template-rows: minmax(200px, 540px); 
  }
.embed-responsive{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  }
.embed-responsive-item{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  }


.consider-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  div{
    background-color:#eee;
    padding:20px;
    font-size:1.5em;
    }
  }
.light-grey-section{
  background-color:#eee;
  }

// Grid styles
.grid-two-column,.grid-two-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 20px;
  }
.grid-three-column, .grid-three-columns{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  }
.grid-four-column,.grid-four-column{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    }
  }
.grid-tiles, .grid-tile{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

.grid-tiles.tile-two-column{
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr;
    }
  }
.grid-tiles.tile-three-column{
  @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr;
    }
  }
.grid-tiles.tile-four-column{
   @media (min-width: $wvu-bp-lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

.profile-card{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,.6);
    padding:20px;
    margin-bottom:10px;
    }
.profile-contact-font{
  font-size:.9em;
  }


.card{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,.6);
  margin-bottom:10px;
  }


// Partnership styles

.partnership-button-container,.accordion-button-container{
  border:none;
  background-color:transparent;
  width:100%;
  margin-bottom:20px;
  }
.partnership-button,.accordion-button{
  width:100%;
  background-color:$wvu-gold;
  color:$wvu-blue;
  padding:20px;
  margin:0px auto;
  transition: all .4s ease-in-out;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
.partnership-button:hover,.accordion-button:hover{
  background-color:#eaaa00e3
  }
.see{
  display: none;
  }
.hide{
  display: inline;
  }
.collapsed{
  .partnership-button{
    max-width:400px;
    }
  .accordion-button{
    max-width:400px;
    }
    .see{
      display: inline;
    }
  .hide{
    display:none;
    }
  } 
.partnership-card-expand, .accordion-card-expand{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  div{
    padding:20px 5px 20px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
  li{
    list-style:none;
    }  
  }

// Edit mode only
.wvu-instructions{
  width:100%;
  float: left;
  background-color:#FDDA24;
  }


////Trips list
.trip-list-table-header{
  width:100%;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:$wvu-gold;
  padding:5px;
  li{
    list-style:none;
    font-size:1em;
    }
  }
.trip-list-table{
  width:100%;
  float: left;
  display:grid;
  background-color:rgba(255,255,255,.6);
  li{
    list-style:none;
    font-size:1em;
    }
  ul:nth-child(odd){
    background-color: rgba(162, 170, 173, .3);
    }
  ul:last-child{
    border-bottom:solid 1px rgba(162, 170, 173, .4);
    }
  }

  // 162, 170, 173
.trip-list-table-item{
  width:100%;
  float: left;
  padding:5px 10px;
  display:grid;
  grid-template-columns:minmax(125px, 1fr) 1fr 1fr 1fr;
  margin-bottom:0px;
  ul,p{
    margin:0;
    }
  }
.trip-list-table-name{
  font-weight:600;
  font-size: 1.2em;
  }
.trip-list-table-full-item{
  grid-column: 1 / span 4;
  }
.trip_list{
  width:100%;
  float: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,.6);
  padding:5px;
  text-align:center;
  li{
    list-style:none;
    font-size:1em;
    }
  .trip_list-name{
    font-size:1.5em;
    font-weight:600;
    } 
  .trip_list-details{
    font-size:.9em;
    color:rgb(29, 29, 29);
    }
  .trip_list-result{
    font-size: 1.3em;
    margin-bottom:5px;
    color:black;
    a{
      text-transform: capitalize;
      }
    }
  .free_trip_details-styles{
    font-size: 1em;
    margin:0px 10% 5px 10%;
    color:black;
    float: left;
    a{
      text-transform: capitalize;
      }
    }
  }

.quicklinks{
  list-style:none;
  }
.quicklinks li{
  list-style:none;
  font-weight: 600;
  a{
    text-decoration:none;
    &:hover{
     border-bottom:solid 2px white;
     }
    }
  }
.quicklinks li::before{
  content:url(/images/slash-decoration-thin.svg);
  float:left;
  width:1.5em;
  }
.yellow-section{
  h1,h2,h3,h4,h5,h6,p,li{
    color:$wvu-dark-blue;
    }
  a,a:visited{
    color:$wvu-dark-blue;
    }

  }


// Stories
.story-section{
  background-image: url(https://static.wvu.edu/global/images/patterns/wvu/background__topo-black-transparent--1.0.0.png);
  background-position: center;
  width:100%;
  float:left;
  height:auto;
  background-color:white;
  }
.transparent{
  background-color: rgba(255,255,255,.7);
  padding-bottom:20px;
  padding-top:20px;
  }
.story-headline{
  font-weight: 600;
  }
.story-hero-image{
  width: 100%;
  max-height:460px;
  overflow:hidden;
  img{
    width: 100%;
    }
  }
.story{
  max-width:800px;
  margin:0px auto;
  p{
    font-size:1.3em;
    line-height: 1.5em;
    margin-bottom:2em;
    }
  img{
    width: 70%;
    max-width: 600px;
    margin-left: 15%;
    float: none;
    margin-right: auto;
    margin-bottom: 40px;
    }
  }
.story-lede{ font-size: 1.4em; font-family: $helvetica-neue; line-height: 1.3em; margin-bottom: 40px; margin-top: .4em;
  .fonts-loaded & { font-family: $helvetica-neue-light; }
    @media (min-width: $wvu-bp-sm) { font-size: 1.9em;}
    @media (min-width: $wvu-bp-md) { font-size: 2.4em;}
  }
.story-callout{
  font-family: $iowan-old-style;
  font-size:2em;
  line-height: 2em;
  font-weight:600;
  text-align: center;
  width: 80%;
  margin: 0 auto 2em auto;
  color:$wvu-dark-blue;
  }
.story-callout::before{
  content:url(/images/iowan-quote-open.svg);
  float: left;
  width: 1.5em;
  position: absolute;
  margin-left: -40px;
  margin-top: 3px;
  }
.story-callout::after{
  content:url(/images/iowan-quote-close.svg);
  float: right;
  width: 1.5em;
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  }
.wvu-blue-dark-background.texture{
  background-image: url(https://adventurefirstyear.wvu.edu/files/d/ec66f4c4-fa7b-4ff5-95a1-f430794b8bb7/background__topo-gold-transparent.png);
  background-position: center;
  background-size: cover;
  width:100%;
  float:left;
  height:auto;
}

.wvu-dark-grey-photo-background{
  background-image:url(https://adventurefirstyear.wvu.edu/files/d/89bb2ecc-6d7e-4ff4-b22b-aaa2c7262a9d/dark-black-background-image.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  float:left;
  height:auto;
  color:white;
  h3{
    color:white;
    font-family: $helvetica-neue-condensed-black;
    }
  }


.facilities-card-body{
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,.6);
  padding:20px;
  margin-bottom:10px;
  }



  // grid styles

  .price-list-item ul{
    padding-left:0px;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr ;
    grid-column-gap: 10px;
    @media (min-width: $wvu-bp-md) {
      grid-template-columns: 5fr 1fr 1fr 1fr ;
      grid-column-gap: 10px;
      }
    li{
      list-style: none;
      text-align: left;
      }
    }