// Styles for 'mega-nav' dropdown hover menu with images

.margin-gutter {
  margin-right: 0;
  margin-left: 0;
  @include media-breakpoint-up(lg) {
    margin-right: -15px;
    margin-left: -15px;
      }
}


.nav-main[aria-expanded="true"]:after {
content: "\f068";
color: white;
font-family: 'Font Awesome 5 Free';
-webkit-font-smoothing: antialiased;
font-style: normal;
font-variant: normal;
font-weight: 800;
font-size: 0.9em;
margin-right: 0.5rem;
float: right;
@include media-breakpoint-up(lg) {
  line-height: 0.8;
  float: right;
  content: "";
  width: 0;
  height: 0;
  margin: 0.6rem 0 0 0.5em;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255,255,255,0.5);
}
}

.nav-main[aria-expanded="false"]:after {
content: "\f067";
color: white;
font-family: 'Font Awesome 5 Free';
-webkit-font-smoothing: antialiased;
font-style: normal;
font-variant: normal;
font-weight: 800;
font-size: 0.9em;
margin-right: 0.5rem;
float: right;
@include media-breakpoint-up(lg) {
  line-height: 0.8;
  float: right;
  content: "";
  width: 0;
  height: 0;
  margin: 0.6rem 0 0 0.5em;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255,255,255,0.5);
}
}



.nav-main {
  display:block;
    @include media-breakpoint-up(lg) {
        display:inline-flex;
      }
}

// Off setting search icon to center nav items
.center-comp {
  @include media-breakpoint-up(lg) {
  //  border-left: 1px solid black;
    padding-left:54.38px;
  }
  padding-left:0;
}

// Makes dropdowns hoover
@include media-breakpoint-up(lg) {
.navbar-nav li:hover .dropdown-menu {
			display: block!important;
	}
}

.nav-top:hover {
border-top: none;
@include media-breakpoint-up(lg) {
	//border-top: 3px solid #747272;
		border-top: 3px solid #EAAA00;
}
}

.navbar-toggler {
	padding: 0.75em 0.75em;
}

//.nav-main:after {
//	line-height: 0.8;
//  float: right;
//  content: "";
//  width: 0;
//  height: 0;
//  margin: 0.6rem 0 0 0.5em;
//  border-left: 5px solid transparent;
//  border-right: 5px solid transparent;
//  border-top: 5px solid rgba(255,255,255,0.5);
//}

.z-99 {
		z-index: 999;
}

.nav-top {
	border-top: none;
  border-bottom: none;
	@include media-breakpoint-up(lg) {
		border-top: 3px solid #2d2a29;
    border-bottom: 3px solid #2d2a29;
}
}

.nav-border {
	border-right: none;
	@include media-breakpoint-up(lg) {
		border-right: 1px solid #444;
}
}

.show.position-static {
	@include media-breakpoint-up(lg) {
	border-top: 3px solid #f4b119 !important;
}
}

.mega-nav a {
  color:black;
  text-decoration:none;
}

.mega-nav a:hover {
  color:black;
}

.navbar {
  position:relative;
}

.navbar .dropdown-menu {
	position: static;
    float: none;
	@include media-breakpoint-up(lg) {
  position:absolute;
  margin-top:0;
	}
}

.nav-main {
	padding: 0.9rem 1.2rem !important;
	@include media-breakpoint-up(lg) {
  padding: 0.7rem 0.7rem !important;
	}
}

.nav-search {
	padding: 0.9rem 1.2rem !important;
	@include media-breakpoint-up(lg) {
  padding: 0.7rem 0.7rem !important;
	}
}

.glow:hover {
	background-color:#4D4A49;
	//border-top: 3px solid #f4b119 !important;
}

.glow.show {
	background-color:#4D4A49;

}

.glow2 {
	padding: 0.9em 0em;
  font-size: 1em;
}

.mega-menu {
	width: 100%;
	border: 0;
	border-radius: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 5rem;
	max-width: 20rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
	@include media-breakpoint-up(lg) {
	min-width: 20rem;
	}
}

.dropdown-menu.show {
  display: block;
}

.position-static {
	margin-bottom:0;
	position:static !important;
	padding:0;
	@include media-breakpoint-up(lg) {
	padding:0;
	}
}

.hide-mobile img{
	display:none;
	margin-bottom:0 !important;
	@include media-breakpoint-up(lg) {
	display:block;
	margin-bottom:0.5rem !important;
	}
}

.hide-mobile img:hover {
	opacity: 0.85;
}

.hide-mobile img{
	padding-right: .375rem !important;
}

.nav-collapse a {
	border-bottom: 1px solid rgba(255,255,255,0.15);
	color: #fff;
	float: left;
	padding: 0.9em 1.1em;
	text-decoration: none;
	width: 100%;
}

.gray-bg {
	background-color:#2d2a29;
}

.bottom-border-1 {
	border-bottom: 1px solid rgba(255,255,255,0.15);
	@include media-breakpoint-up(lg) {
		border-bottom: none;
}
}

.mega-nav ul li {
	margin: 0 0;
}

.mega-menu ul li {
	margin: 0 0;
}

.large-nav {
	font-size: 1em;
}

.show.shorter {
	padding-top:10px!important;
}

.navbar-dark .navbar-toggler {
	border-color: rgb(45, 42, 41) !important;
	color: rgb(45, 42, 41) !important;
}

.nav-item-mega {
	color: #fff;
	float: left;
	//border-bottom: 1px solid rgba(255,255,255,0.15);
  border-bottom: 1px solid rgba(255,255,255,0.08%);
	text-decoration: none;
	width: 100%;
	padding: 0.6em 0;
	font-size:0.9em;
	@include media-breakpoint-up(lg) {
	padding: 0.5em 0;
	font-size:1em;
	}
}

.sub-menu ul {
	margin-left:0;
}


// Styles for hover state https://webdesign.tutsplus.com/tutorials/how-to-make-the-bootstrap-navbar-dropdown-work-on-hover--cms-33840

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}


// Styles positioning dropdowns


.dropdown-about {
	box-shadow: none !important;
	@include media-breakpoint-up(lg) {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
	  margin-top:-1px !important;
	}
}




.subnav-link {
	padding: 0.7rem 0.7rem !important;
}



.subnav-link-hover {
  border-top: 5px solid transparent !important;
}

.subnav-link-hover:hover {
    border-top: 5px solid #e9ab00 !important;
    background-color:#eaeaea;
    color: black;
//    border-right: 1px solid #eaeaea;
  //  margin-left: -1px;
//    border-left: 1px solid #eaeaea;
}


.subnav-border {
		border-right: none;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #ffffff;
	@include media-breakpoint-up(md) {
	//	border-right: 1px solid #ffffff;
		border-bottom: none;
		width:auto;
	}
}

.subnav-link:hover {
	color:black!important;
}

.subnav-expand {
	flex-flow: row wrap;
	justify-content:flex-start;
}


.container-subnav-programs {
	padding-right: 0!important;
	padding-left: 0!important;
@include media-breakpoint-up(md) {
	padding-right: 15px!important;
  padding-left: 15px!important;
}

}

.rec-ul li {
	padding-right: 0 !important;
	@include media-breakpoint-up(lg) {
		padding-right: .375rem !important;
	}
}


.rec-external-link:after {
    display: inline-block;
    content: "\f35d";
    margin-left:7px;
    color:#bebbaf;
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    font-size: 0.9em;
}


.dropdown-box-rec {
	margin-bottom: -1px;
	position:relative;
}




//    subnav on programs pages

.recsub-tab {
  text-decoration:none;
  color:black;
  padding-top:0.8em;
  padding-bottom:0.8em;
}


.davis-right {
  margin-right:0!important;
}

.recsub-nav {
  border-bottom:none !important;
  border-top: 5px solid transparent;
}

.recsub-nav.active{
  border-top-color: #EAAA00 !important;
}

.recsub-tab.recsub-nav:hover {
  background-color: #e9ab00!important;
  color:black!important;
  @include media-breakpoint-up(md) {
  background-color: #efefef !important;
  border-top-color: #e9ab00;
  }
}

.nav-tabs .nav-link {
  border: 0 solid transparent;
  border-radius: 0!important;
  border-radius: 0!important;
}

.recsub-tab.recsub-nav {
background-color: #e2e2e2!important;

}

.davis-right {
  border-right: none !important;
}

.nav-tabs {
  border-bottom: none;
}

.location-nav {
		border-right: none;
		width: 100%;
		text-align: center;
		border-bottom: 1px white solid;
	@include media-breakpoint-up(md) {
	//	border-right: 1px solid #868686;
		border-bottom: none;
		width:auto;
    border-right: 1px white solid;
	}
}

.p-special {
    padding: 0.8rem 1.5rem !important;
}

.gray-bg-nav {
  background-color:#e2e2e2;
}
