/* responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  @media (max-width: $wvu-bp-lg) {
    width: 100%;
  }
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (min-width: $wvu-bp-lg) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

// WVU Dropdown Navigation
//==================================================
// An accessible, keyboard friendly dropdown navigation.
// Dependencies: responsive-nav.js 1.0.39 by @viljamis (CSS file only)
// Based off work by Sami Keijonoen:
// https://github.com/samikeijonen/responsive-nav.js#2927f73cc443f3c07a26c84548b4cddb22893f72

// Custom WVU Styles
// =================================================

.wvu-nav__items {
  li,
  a {
    max-width: none;
  } //a, li
} //wvu-nav__items

.wvu-nav__button,
.dropdown-toggle {
  background-color: transparent;
} //.wvu-nav__button, .dropdown-toggle

.wvu-nav__items,
.wvu-nav__items li {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
} //.wvu-nav__items, .wvu-nav__items li

.wvu-nav__menu-icon {
  padding-right: .5rem;
} //.wvu-nav__menu-icon

// NOTE: CleanSlate outputs `has_children_class` on all levels,
// even if your navigation has pages beyond level 2 (and we're not outputting them).
// We don't want to show the triangle/caret for nav items at the 3rd level.
// This class removes the caret.
.dropdown .dropdown a:after {
  content: unset;
} //.dropdown .dropdown a:after

// Vendor Styles
// =================================================
// NOTE: Caution! These are a bit of a mess. Lots of nesting, no BEM. YMMV.
// NOTE: We've modified the breakpoints to use our $wvu-bp-lg variable.

.nav-collapse {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  list-style: none;
  width: 100%;
  float: left;
  ul {
    list-style: none;
    // width: 100%;
    float: left;
  }
  li {
    float: left;
    width: 100%;
  }
  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    float: left;
    padding: 0.9em 1.1em;
    text-decoration: none;
    width: 100%;
  }
}

@media (min-width: $wvu-bp-lg) {
  .nav-collapse {
    width: auto;
  }
}

@media (min-width: $wvu-bp-lg) {
  .nav-collapse li {
    width: auto;
  }
}

@media (min-width: $wvu-bp-lg) {
  .nav-collapse {
    a {
      border-bottom: 0;
      border-right: 1px solid tint($black, 10%);
      padding: 1em 1.5em;
      margin: 0;
      float: left;
      text-align: center;
    }
  }
}

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  border: none;
  border-bottom: 1px solid tint($black, 10%);
  box-sizing: border-box;
  color: #fff;
  float: left;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  height: 56px;
  user-select: none;
  text-align: left;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  line-height: 39px;
  padding: 0 0.75em;
  max-width: 80%;
  &:hover, &:focus, &:active {
    background-color: tint($black, 10%);
  }
}

/* ------------------------------------------
  MULTIPLE LEVELS
--------------------------------------------- */

.nav-collapse {
  a:hover, li.focus > a {
    background-color: tint($black, 15%);
    text-decoration: none;
  }
}

@media (max-width: $wvu-bp-lg) {
  .js .nav-collapse {
    visibility: hidden;
    &.opened {
      visibility: visible;
    }
    &.multiple-level-nav {
      &.opened.dropdown-active {
        max-height: 9999px !important;
      }
      .sub-menu {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: none;
        /* This way you don't have focus on sub menu items unless you open the sub menu. */
        overflow: hidden;
        zoom: 1;
        &.toggled {
          background-color: shade($black, 30%);
          display: block;
          max-height: 9999px;
          padding: 1em 0;
          position: relative;
          a {
            background-color: transparent;
            border-bottom: none;
            padding-left: 3em;
          }
        }
      }
    }
    li {
      position: relative;
    }
    .dropdown-toggle {
      border: 1px solid tint($black, 10%);
      color: white;
      content: "";
      height: 40px;
      width: 40px;
      padding: 0;
      position: absolute;
      margin: 0;
      text-transform: lowercase;
      top: 5px;
      right: 4%;
      &:hover, &:focus, &:active {
        background-color: #fff;
        color: #212428;
      }
      &:after {
        content: "+";
        font-size: 20px;
      }
      &.toggled:after {
        content: "-";
      }
    }
  }
  /* Enable active class to let the navigation expand over the calculated max height. */
}

.dropdown {
  ul {
    a {
      padding-left: 1.5em;
    }
    ul {
      a {
        padding-left: 2.5em;
      }
      border: 0;
      padding: 0;
    }
  }
  .dropdown.opened > a {
    background: #9c2c12;
  }
}

// @media (min-width: $wvu-bp-lg) {
//   .dropdown-toggle {
//     display: none;
//   }
// }

@media (min-width: $wvu-bp-lg) {
  .nav-collapse {
    position: relative;
  }
  .js .nav-collapse {
    max-height: none;
    overflow: visible;
    .dropdown ul {
      max-height: none;
      overflow: visible;
    }
  }
  .dropdown > a:after {
    line-height: 0.8;
    float: right;
    content: "";
    width: 0;
    height: 0;
    margin: 1.6rem 0 0 0.5em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $navbar-dark-color;
  }
  .dropdown ul > a:after {
    content: "";
    width: 0;
    height: 0;
    margin: 0.3em 0 0 0.5em;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid $navbar-dark-color;
  }
  .nav-collapse {
    .dropdown {
      position: relative;
      li {
        width: 100%;
      }
      ul a {
        text-align: left;
        border: 0;
      }
    }
    li { 
      border: 0;
      display: inline-block;
      height: 55px;
      line-height: 55px;
      position: relative;
      &:first-child {
        a {
          border-left: 1px solid tint($black, 10%);
        }
      }
    }
    a {
      display: inline-block;
      padding: 0 1rem;
    }
    ul ul {
      float: left;
      margin: 0;
      position: absolute;
      top: 85px;
      left: -999em;
      z-index: 9999999;
      text-align: center;
    }
    li li {
      border: 0;
      display: block;
      height: auto;
      line-height: 1.0909090909;
      &:first-child {
        a {
          border-left: 0;
        }
      }
    }
    ul {
      ul {
        ul {
          left: -999em;
          top: 20px;
        }
        a {
          padding: 15px 12px;
          white-space: normal;
          width: 150px;
        }
      }
      li {
        &:hover > ul, &.focus > ul {
          top: 55px;
          left: 0;
          margin-left: 0;
        }
      }
      ul li {
        &:hover > ul, &.focus > ul {
          top: 0;
          left: 0%;
          margin-left: 150px;
        }
      }
    }
  }
}

.sub-menu {
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
      @media (min-width: $wvu-bp-lg) {
        text-decoration: none;
      } //mq
    } //&:hover, &:focus
  } //a
} //.sub-menu

.wvu-nav {
  .dropdown-toggle {
    display:none;
    &:after {
      margin-left: 0 !important;
      border-top: 0 !important;
      border-right: 0 !important;
      border-left: 0 !important;
      border-bottom: 0 !important;
    }
  }
}
